[2016-04-28 06:46] hadiTab opened #1 "multi_constellation_settings.m missing"
I believe "multi_constellation_settings.m" has been removed from goGPS at some point. The function is still [called](https://github.com/goGPS-Project/goGPS_MATLAB/blob/ad2106db710cbd22e2f01b7e8fc0891612b03c77/goGPS/input_output/RINEX/load_RINEX_nav.m#L49) in "load_RINEX_nav.m" in the case where the constellation struct has been left blank in order to assume GPS.

[2016-04-28 07:07] ege010 commented on #1
Thanks Hadi!
I just fixed it here: https://github.com/goGPS-Project/goGPS_MATLAB/commit/03bab33a6b5de0a6653e15b4818ee533404e10ef

[2016-04-28 07:07] #1 closed

[2017-03-29 06:44] ege010 opened #3 "Implementation of the Vienna Mapping Function (VMF)"
adding posibility to use different mapping funcions

[2017-03-29 07:02] ege010 opened #4 "Adding Minor Ocean Tides (MOT) to the PPP algorithm"

[2017-03-29 07:04] ege010 opened #5 "Adding Atmospheric pressure loading"

[2017-03-29 08:37] ege010 opened #6 "Adding the computation of tropospheric delay gradients"

[2017-05-05 13:56] CrawlerSpider opened #8 "Array comparison"
In file IO_Settings.m, line 782 is a comparison between this.obs_type and this.REC_TARGET:
file_name = this.obs_full_name(this.obs_type == this.REC_TARGET);

where as i started goGPS the size of this.obs_type was 2 and the size of this.REC_TARGET was 1.
in addition this.obs_full_name was empty.

[2017-05-05 16:06] clicat commented on #8
Reviewing this issue I added a check on the size of obs_type and obs_name, but I did not understand the problem that you are reporting.

Let me try to explain how that part of the code should work:
In Class IO_Settings obs_name contains the list of the names of the files to be used for the various receivers.

**obs_name** it's a cell array containing in each position the name of the file to be pro

[2017-05-05 17:13] CrawlerSpider commented on #8
The issue appears after kliking on "Import legacy inputs file" and then selecting the file settings.
Then I get the following error:

`Index exceeds matrix dimensions.`

`Error in IO_Settings/getTargetPath (line 782)
            file_name = this.obs_full_name(this.obs_type == this.REC_TARGET);
Error in IO_Settings/checkReceiverFiles (line 1692)
                    file_name_all = this.getTargetPat

[2017-05-06 11:50] clicat commented on #8
I tried to investigate the problem, this probably happens importing an invalid ini file. Anyhow I updated the goGPS code with a bit more checks during and after the import of the settings. My latest update on the master branch (commit 51b5a80) should have fixed the issue.
Thanks again for the bug report, the code is now in fast evolution and so the number of bugs introduced recently is probably bi

[2017-05-06 17:16] CrawlerSpider commented on #8
Problem is solved.

Thanks

[2017-05-06 17:16] #8 closed

[2017-05-16 08:02] ege010 opened #9 "Losing precision when reading time values (e.g. from RINEX)"
A careful management of time values stored as double is needed already at data input (e.g. RINEX reading), to avoid introducing losing precision and/or introducing artificial time desynchronizations (see https://github.com/goGPS-Project/goGPS_MATLAB/commit/0d145145ffa79ab7406faebb92446a7ed3403da9#commitcomment-22147466).

[2017-05-17 15:33] clicat commented on #9
"Bug" fixed (hopefully) in rev. https://github.com/goGPS-Project/goGPS_MATLAB/commit/408ab5df0b9aab946121c0256f359d63552e59fa after some minor bug-fixes from rev. https://github.com/goGPS-Project/goGPS_MATLAB/commit/72e79382cee44935f3be4b76a1fd88da7a344a52 now the precision kept by load_RINEX should be improved.
@lukegluke could you test whether or not your example works?

[2017-05-17 16:44] lukegluke commented on #9
Now there is swatooth everywhere :) (same rinex as in https://github.com/goGPS-Project/goGPS_MATLAB/commit/0d145145ffa79ab7406faebb92446a7ed3403da9#commitcomment-22147466)
![default](https://cloud.githubusercontent.com/assets/3624285/26165433/a13e3e3a-3b38-11e7-9314-a037b1702a24.png)

Could you please write me you e-mail, so I can send you my rinex file.

[2017-05-17 18:22] clicat commented on #9
:-D very good @lukegluke here is my email: gatti . andrea at gmail . com

[2017-05-17 20:47] clicat commented on #9
New revision https://github.com/goGPS-Project/goGPS_MATLAB/commit/c00d86cabb6a5d334d45e58e35255686575adf74. I believe this solves the problem.
Times are still out of sync by some 0.1136 ps (1.136e-13 s).
pre-processing is not perfect -> it is changing the ph data, and it does have problems when diff time is zero but the phases are now smooth!

This precision problem is very annoying and difficult

[2017-05-17 20:47] #9 closed

[2017-05-18 08:25] lukegluke commented on #9
Seems to be fixed. Thanks!

[2017-05-19 14:52] lukegluke opened #10 "4digit year in NMEA RMC"
in NMEA_RMC_gen.m year is stored like this:

year = sprintf('%02d', date(1,1));
nmeastring = sprintf('$GPRMC,%s%s%s,%c,%s,%c,%s,%c,%s,,%s%s%s,,,,',hour,minute,second,status,phi_nmea,emi_NS,lam_nmea,emi_EW,speed,day,month,year);

so finally in nmea-file there is a date with 4digit year like this: 28022016

but it should be to 2digit-year date: 280216

[2017-05-22 16:42] clicat commented on #10
Bug fixed in https://github.com/goGPS-Project/goGPS_MATLAB/commit/cacf4c08da0bd4cc8e22619c97ae46db244f8f85 .
Thanks a lot for the report!

[2017-05-22 16:42] #10 closed

[2017-05-23 11:09] lukegluke opened #11 "Typos"
multi_GNSS_biases_correction 68 line
k = find_eph(Eph, idx(c)+r, time_ref(round(length(time_ref))/2), 86400);

`time_ref(round(length(time_ref))/2)`
should be
`time_ref(round(length(time_ref)/2))`

[2017-05-23 12:27] clicat commented on #11
Bug corrected in rev https://github.com/goGPS-Project/goGPS_MATLAB/commit/1fa8391649de65f29642e6ff27a37864c15cafb6
Thanks again @lukegluke

[2017-05-23 12:28] clicat commented on #11
If you are interested in the project and want to contribute more directly we can provide you full access to the github repository. Anyhow we always appreciate suggestions and help in finding bugs.

[2017-05-23 12:29] #11 closed

[2017-05-23 12:32] lukegluke opened #12 "Incorrect information printed"
Another one. Incorrect information printed

load_RINEX_nav 157 line when loading nav data for GLONASS fprintf tells that it reads GPS navigation file, instead of GLONASS.

`if(~only_iono), fprintf('%s',['Reading RINEX file ' filename ': ... ']); end`
should be
`if(~only_iono), fprintf('%s',['Reading RINEX file ' [filename(1:end-1) 'g'] ': ... ']); end`

And same thing for other systems, yes.

[2017-05-23 12:41] lukegluke commented on #11
Thanks for the offer, but I currently temporary use goGPS as a debug instrument, so it seems that soon I switch to other things. Can't guess how long would be this "soon", but for now, correcting bugs through opening issues is enough for me. Hope it's not so much inconvenience for you. Thanks for your work.

[2017-05-23 12:50] lukegluke opened #13 "Use rinex 3.03 mixed flag on navigational file reading"
[suggestion]

Rinex 3.03 navigational files contain flag M: MIXED, so it seems to be good to use it in load_RINEX_nav functions when reading such files.

[2017-05-23 13:08] clicat commented on #11
That's absolutely not a problem, thanks for the help! Recently we are changing a lot of goGPS code and finding bugs is a very important task. We always appreciate who's able to point out defects that we can solve!

[2017-05-23 13:22] clicat commented on #12
Fixed in rev. https://github.com/goGPS-Project/goGPS_MATLAB/commit/a237ca612cc9d96f1e70bfed17cea92032117305
Thanks @lukegluke!

[2017-05-23 13:22] #12 closed

[2017-05-23 13:26] lukegluke commented on #13
By the way such nav files one can get from https://igs.bkg.bund.de/dataandproducts/browse#

[2017-05-23 13:41] lukegluke opened #14 "sscanf can't parse time information in RINEX v3.xx due to ">""
RINEX_get_epoch, line 139
[code]
It seems that sscanf can't parse time information (return empty) in RINEX v3.xx due to ">" - first symbol.
At least in my Matlab 2016a win64.

Removing ">" from string like this:
`datee = sscanf(lin(2:min(26,end)),'%f%f%f%f%f%f');`
solves my problem.

[2017-05-23 13:59] clicat commented on #14
It's been already fixed in rev. https://github.com/goGPS-Project/goGPS_MATLAB/commit/9a1aabea279845069bbcf4c2f1c0e7cded168989#diff-f827e7d91c31c7c579c943858cf79b13

[2017-05-23 14:00] #14 closed

[2017-05-23 14:34] lukegluke commented on #14
ok, thanks

[2017-05-23 15:33] lukegluke opened #15 "Processing rover information bug"
With latest goGPS I have this:
![default](https://cloud.githubusercontent.com/assets/3624285/26361609/33085d78-3fe4-11e7-8d64-d5103c82bab8.png)
instead of progress information:
![default](https://cloud.githubusercontent.com/assets/3624285/26362227/fdb1ca5e-3fe5-11e7-9ff7-36dae7377147.png)

Something change between c00d86cabb6a5d334d45e58e35255686575adf74 and 244be8bcfef49442587e33c80fdfa8993ab7bba

[2017-05-24 13:04] clicat commented on #15
Position of the text fixed in rev: https://github.com/goGPS-Project/goGPS_MATLAB/commit/29b438b58d3279bb6a1099612a766cad0a42fc23

[2017-05-24 13:04] #15 closed

[2017-05-24 13:13] lukegluke opened #16 "Write RMC before GGA in NMEA"
[Suggestion]
I suppose it would be better to write RMC string before GGA string in output NMEA file, cause GGA message doesn't contain date information and for example rtklib (and maybe other programs) classifies date of very first GGA as current day.

[2017-05-24 13:21] lukegluke commented on #15
Confirm. Thanks.
![default](https://cloud.githubusercontent.com/assets/3624285/26405015/9cfa8720-409c-11e7-8bbb-d369589ce8fe.png)

[2017-05-26 11:50] lukegluke opened #17 "Add ability to choose what to output"
[Suggestion]
It would be nice to have ability to choose if specific output (NMEA, KML, PDF reports etc.) is needed.

[2017-07-04 13:00] ege010 opened #18 "Exploit RINEX information about moving/static antenna to adapt the dynamic model"

[2017-07-04 13:03] ege010 opened #19 "When RINEX meteorological files are available, add the possibility to use them to initialize the a-priori tropo delay (i.e. ZHD)"

[2017-07-06 14:20] ege010 opened #20 "Add pole tides"

[2017-07-07 16:22] ege010 commented on #6
Completed: 7328d09a7ce87f4ab49744a43b2d77d133435172

[2017-07-07 16:22] #6 closed

[2017-08-28 12:50] ege010 commented on #20
Done.

[2017-08-28 12:50] #20 closed

[2017-08-28 12:51] ege010 opened #21 "Add the ability to run the same processing on several stations."
E.g. run PPP on 50 stations, by providing 50 marker names.

[2017-09-04 13:09] clicat commented on #17
solved in branch batch processing (soon to be merged in Main) https://github.com/goGPS-Project/goGPS_MATLAB/commit/af6ce7fd3697c7af0747083bbd8f19df0e3096af

[2017-09-05 14:26] ege010 opened #22 "Meteorological RINEX file names are not using the ${...} keywords"
E.g. "ZIMM${DOY}0.${YY}m" does not work

[2017-09-05 14:28] #17 closed

[2017-09-05 21:28] clicat commented on #22
Solved in commit https://github.com/goGPS-Project/goGPS_MATLAB/commit/dee500f5ba31f51ae25e1f37f91632cd14413da0

[2017-09-05 21:39] clicat opened #23 "Check PPP default project results (pre-processing???)"
The PWD results that the new code is now computing are smoother with respect to the "original" ones, the solution is more unstable at the beginning of the processing, and apparently the only difference that I've found is localized in the report.
The old report is reporting some CS found in pre-processing, the new code does not find anything:

Cycle slips fixing                      #CS    Sat    F

[2017-09-06 07:32] ege010 commented on #23
The reason for the smoothness of the new solution should be due to the relatively recent change of the sigmaq_tropo parameter default value. Which, by the way, is "hidden" because it's still located in goGPS.m instead of the ini file ;) BTW, also the default cutoff was set to 7 degrees in the default ini file, and the observation weighting was disabled (to improve the comparison with EPN official

[2017-09-06 07:41] ege010 opened #24 "MATLAB version compatibility issue?"
From https://sourceforge.net/p/gogps/gogps-bugs/13/

Error using Go_State.getInstance (line 135)
Invalid default value for property 'cur_settings' in class 'Go_State':
Invalid default value for property 'UI_P_SRATE' in class 'Main_Settings':
The class goGUIclass has no Constant property or Static method named 'UI_P_SRATE'.

Error in goGPS (line 71)
gs = Go_State.getInstance();

MATLAB Version: 9.2

[2017-09-08 15:20] clicat commented on #24
The error cannot be reproduced (I'm using MATLAB R2017a), the error sentence is also wrong:
"The class goGUIclass has no Constant property or Static method named 'UI_P_SRATE'."

the class HAS a constant named UI_P_SRATE
![Uploading Screen Shot 2017-09-08 at 17.16.41.png…]()

[2017-09-08 15:24] clicat commented on #24
@ege010 ...should we close the bug?

[2017-09-09 11:57] syachroel commented on #22
Dear Dr Realini and Dr Gatti

Thank you for the answer...
I re-download, for update goGPS and
processing its Ok for "ZIMM $ {DOY} 0. $ {YY} m", no problem ...
but I do not know there is a new problem with FTP?
as below ...

Computing Sun and Moon position... done
FTP connection to the AIUB server (ftp://ftp.unibe.ch). Please wait...
Error using ftp/mget (line 109)
FTP error: 425.

Error in downloa

[2017-09-11 07:30] syachroel commented on #22
Dear Dr Realini and Dr Gatti

Thank you for the answer...
I re-download, for update goGPS and
processing its Ok for "ZIMM $ {DOY} 0. $ {YY} m", no problem ...
but I do not know there is a new problem with FTP?
as below ...

Computing Sun and Moon position... done
FTP connection to the AIUB server (ftp://ftp.unibe.ch). Please wait...
Error using ftp/mget (line 109)
FTP error: 425.

Error in downloa

[2017-09-11 07:33] ege010 commented on #22
Re-opening the issue here, although it's probably a different problem.

[2017-09-11 07:35] syachroel commented on #22
Ok...for temporary I try one by one with file meteorology...

Thanks

[2017-09-15 08:15] wulingnuaa opened #25 "Ask for help: display errors always when running the goGPS.m in v0.5.1"
错误使用 connect (line 18)
无法打开到 "igscb.jpl.nasa.gov"、端口 "21" 的连接。

出错 ftp (line 75)
connect(h)

出错 FTP_Downloader (line 104)
                this.ftp_server = ftp(strcat(this.addr, ':',
                this.port));

出错 File_Wizard (line 142)
        function this = File_Wizard(state)

出错 Go_State/initProcessing (line 222)
            fw = File_Wizard;

出错 goGPS (line 155)
gs.initProcessing(); % Set u

[2017-09-16 08:47] wulingnuaa commented on #25
the problem has been solved.

[2017-09-16 09:10] syachroel commented on #22
I try just for two files Obs,...but still like as below :

Index exceeds matrix dimensions.

Error in IO_Settings/getMetFile (line 1114)
out = out{id};

Error in goGPS (line 3284)
md = Meteo_Data(state.getMetFile(session));

[2017-09-18 08:18] ege010 opened #26 "Master coordinates from CRD / RINEX header"
Master coordinates are read from RINEX header even when a CRD file is passed with master coordinates.

[2017-09-19 02:59] wulingnuaa commented on #22
Dear syachroel ,
        I have the same problem with you as   "Computing Sun and Moon position... done
FTP connection to the AIUB server (ftp://ftp.unibe.ch). Please wait...
Error using ftp/mget (line 109)
FTP error: 425.

Error in download_dcb (line 144)
mget(ftp_server,s1,down_dir);

Error in goGPS (line 533)
[file_dcb, compressed] = download_dcb([week_R(1) week_R(end)], [time_R(1) time_R(end)]

[2017-09-19 05:27] syachroel commented on #22
Hai.... wulingnuaa,

Actually, I want to get PWV for my RINEX data....
but just for one day, its mean one file*.obs and *.met, no problem...I get the result for PWV
so then I try for two files....unfortunately, the processing say: Index exceeds matrix dimensions
I don't know why so I just processing one by one and I compile for one-month data PWV

for FTP connection to the AIUB server (ftp://ftp.u

[2017-09-19 06:11] ege010 commented on #25
Sorry for the late reply, I'll close this for now!

[2017-09-19 06:11] #25 closed

[2017-09-19 06:13] ege010 commented on #24
Done

[2017-09-19 06:13] #24 closed

[2017-09-19 08:15] clicat opened #27 "No check is present on the validity of the orbital files"
How to reproduce the error:
using a brdc of a day different from the one of the processing -> goGPS crash in pre-processing

[2017-09-19 08:28] clicat opened #28 "Download only the ultra-rapid orbits that are needed"
Actually, goGPS download all the orbits for one day

[2017-09-20 09:13] clicat commented on #26
I think that I solved it...

[2017-09-20 09:13] #26 closed

[2017-09-21 06:23] wulingnuaa commented on #22
Hi, syachroel

      Thank you very much for your reply!   I want to use goGPS as a plateform for my acadamic research on multi-frequency GPS/BDS real-time carrier phase ambiguity fixed. But up to now, I still can't use the goGPS software correctly.

         Best regards!
          Your sincerely

2017-09-21
wuling@nuaa.edu.cn

From: syachroel
Date: 2017-09-19 13:27
To: goGPS-Project/goGPS_MATLAB

[2017-09-21 08:09] ege010 commented on #22
Hi @syachroel and @wulingnuaa

@clicat and I tried to fix your DCB FTP download issue (actually on our systems we did not get it), and we found a possible solution (https://github.com/goGPS-Project/goGPS_MATLAB/commit/888eac89860ec2d2458f8fd7ba136ad738d45d7c ). If the FTP download still causes you troubles, please download the needed DCB files manually from ftp://ftp.unibe.ch/CODE/

@syachroel we

[2017-09-21 08:31] wulingnuaa commented on #22
Hi, Eugenio Realini

     I also have problem with ftp download issue online. Could you help me to download some newly data for rover and master observition and navigation data for relative position with double differential.
thanks a lot.
    Best regards

   Your sincerely!

2017-09-21
wuling@nuaa.edu.cn

From: Eugenio Realini
Date: 2017-09-21 16:09
To: goGPS-Project/goGPS_MATLAB
CC: wulingnuaa;

[2017-09-21 08:31] wulingnuaa commented on #22
Thank you a lot!

2017-09-21
wuling@nuaa.edu.cn

From: Eugenio Realini
Date: 2017-09-21 16:09
To: goGPS-Project/goGPS_MATLAB
CC: wulingnuaa; Mention
Subject: Re: [goGPS-Project/goGPS_MATLAB] Meteorological RINEX file names are not using the ${...} keywords (#22)
Hi @syachroel and @wulingnuaa
@clicat and I tried to fix your DCB FTP download issue (actually on our systems we did not get it), and we

[2017-09-22 06:56] syachroel commented on #22
Hi, Dr.Eugenio Realini

Thanks a lot,...
its done for execution my data for getting PWV for one week
right now still processing for one month....
Best regards

[2017-09-22 07:26] ege010 commented on #22
@wulingnuaa please send me an email regarding the rover and master data for your tests.

Closing this issue since the problem is solved.

[2017-09-22 07:26] #22 closed

[2017-09-22 08:30] arglas864 opened #29 "GLONASS positioning problem"
It seems GLONASS-only positioning doesn't work properly. If i try to post-process a RINEX file containing data of a car on a circuit, the positions of each lap slowly drift with time, and there are jumps when new satellites are acquired. I think this problem also affects GPS+GLONASS positioning.

[2017-10-01 07:18] syachroel commented on #3
After I get processing my rinex data one month, my next step just rechecks and compare Mapping function (Global mapping function, Niell mapping function, and Vienna mapping function) for the validation my result...
The question is, where I can look Mapping Function in goGPS...

Thanks

[2017-10-02 06:50] ege010 commented on #3
Hi @syachroel
at the moment goGPS applies only the GMF. The code for the Niell mapping function is already available (in the "goGPS\atmosphere" folder ), but it's not called during processing. The VMF is not implemented yet.
If you wish to try out the NiellMF code in PPP processing, you have to substitute the GMF here: https://github.com/goGPS-Project/goGPS_MATLAB/blob/master/goGPS/positioning/kal

[2017-10-02 09:55] ege010 commented on #23
Found out the culprit: the settings.ini file for "default_PPP" had been changed, but probably it had not been pushed when I did the check above. Anyway, I restored the previous settings: 78913a5d264b8b341b0c0c0dae3b34181b8049b7

[2017-10-02 09:55] #23 closed

[2017-10-03 13:22] ege010 commented on #3
For future reference, on the addition of VMF to goGPS:
http://ggosatm.hg.tuwien.ac.at/DELAY/
https://link.springer.com/article/10.1007/s00190-017-1066-2

[2017-10-26 06:22] niklgjer opened #30 "Struct contents reference from a non-struct array object."
While attempting to process code and phase double difference observations, the following error occurred:

Struct contents reference from a non-struct array object.

Error in Go_Wait_Bar/shiftDown (line 450)
            pos = this.h.Position;

Error in goGPS (line 2694)
                                    if (mode_user == 1 && t == 2), w_bar.shiftDown(); end

[2017-10-26 06:41] ege010 commented on #30
Hi @niklgjer,

thanks, fixed just now! (fa81ea3053a052c744b856d00e29e3bb29b1e9bb)

Eugenio & Andrea

[2017-10-26 06:41] #30 closed

[2017-10-27 10:58] niklgjer opened #31 "Invalid or deleted object."
The following error message occurred when trying to process:

Invalid or deleted object.

Error in Go_Wait_Bar/shiftDown (line 450)
            pos = this.h.Position;

Error in goGPS (line 2695)
                                    if (mode_user == 1 && t == 2), w_bar.shiftDown(); end

[2017-10-27 14:04] clicat commented on #31
Hi @niklgjer, try to see if the problem still arise... for some reason the handle of the waitbar is created and then appears to be invalid (note that I cannot reproduce the bug, so I'm guessing the solution)

[2017-10-28 10:03] niklgjer commented on #31
I updated the program and it seems to be working fine now!

[2017-10-30 07:59] #31 closed

[2017-11-05 11:33] niklgjer opened #32 "Index exceeds matrix dimensions."
While attempting to run a least squares algorithm with code and phase double differences, an error occurrred when the program was writing the output file:

Index exceeds matrix dimensions.

Error in goGPS (line 3406)
                                        fprintf(fid_out, row_str, date_R(i,1), date_R(i,2), date_R(i,3),
                                        date_R(i,4), date_R(i,5), date_R(i,6),

[2017-11-24 11:04] syachroel commented on #22
Dear Dr. Realini

How are you, sorry..I disturb you again...

Anyway, I move to LINUX from WINDOWS for my processing data Rinex used go GPS

for getting PWV data, I was just thinking it is no problem with `go GPS`, but...I have some error messages like  below  :

Error using connect (line 22)

Invalid default value for property 'source' in class 'File_Wizard':

Could not open a connection to "igsc

[2017-11-24 11:06] syachroel commented on #27
Dear Dr. Realini/ Dr. Andrea

How are you, sorry..I disturb you again...

Anyway, I move to LINUX from WINDOWS for my processing data Rinex used go GPS

for getting PWV data, I was just thinking it is no problem with `go GPS`, but...I have some error messages like  below  :

Error using connect (line 22)

Invalid default value for property 'source' in class 'File_Wizard':

Could not open a connect

[2017-11-24 13:43] clicat commented on #27
Hello @syachroel the problem is due to igscb.jpl.nasa.gov beeing discontinued. In the latest updates of goGPS the connection to that server has been removed, and now it should work correctly.
Regarding PPP processing I'm working on it in the SEID_test branch that contains fixes and new parameters in the settings file to import the proper sigma values for the kalman filter. In particular now you ha

[2017-11-24 14:16] clicat commented on #32
Hi @niklgjer sorry for the delay, I did not look at the git page since a while ago... Unfortunately I cannot reproduce the error that you are getting, could you maybe share with me the project folder that you are using?

[2017-11-24 14:46] clicat commented on #27
Now the SEID branch has been moved into master, update your version and the problem with the server should disappear!

[2017-11-26 09:15] syachroel commented on #27
Hello @clicat,

Thank you for the answer, and I already follow what your suggest,...
but I still found the message like above.....
Index exceeds matrix dimensions.

_**Error in RINEX_get_obs (line 76)
    sat_types_id(sat_types == 'S') = first_id_sys(7);

Error in load_RINEX_obs (line 199)
            [cur_line, obs] = RINEX_get_obs(file_buf, cur_line, num_sat, sat, sat_types, obsColumns, nObsType

[2017-11-27 08:36] clicat commented on #27
@syachroel, you are totally right. In my local copy I'm testing various pieces of code and I've many uncommitted changes that made the code work, I updated the file that caused the problem: load_RINEX_obs (commit f291f56f078f37e2143134be02b7c40d5cab875d).
I also updated the settings file of the default PPP project to show some valid values for the new tropospheric parameters added in the latest up

[2017-11-27 10:36] syachroel commented on #27
Dear @cliclat
Alright, I will try again....

Thanks a lot

[2017-11-27 11:08] syachroel commented on #27
Dear @clicat,
thank you for your respons...

and the result...

**Computing Sun and Moon position... done
FTP connection to the AIUB server (ftp://ftp.unibe.ch). Please wait...
Error using ftp/mget (line 109)
FTP error: 425.

Error in download_dcb (line 144)
                mget(ftp_server,s1,down_dir);

Error in goGPS (line 577)
                            [file_dcb, compressed] = download_dcb([w

[2017-11-28 09:02] syachroel commented on #27
wait,...

Today
I try on another PC, its worked for ZIMM station
its make me confused,...and I come back to the PC one, it's not working...
still...any message like below

Error using ftp/mget (line 109)
FTP error: 425.

Error in download_dcb (line 144)
mget(ftp_server,s1,down_dir);

Error in goGPS (line 577)
[file_dcb, compressed] = download_dcb([week_R(1) week_R(end)], [time_R(1) time_R(end)]);*

[2017-11-28 10:21] clicat commented on #27
I think that your computer (or your MATLAB) appears to have some network problems in accessing ftp addresses, you receive  FTP error 425, "Can't open data connection."
You can probably download all the needed files manually and then run goGPS, or try to find out why your configuration has a problem with ftp addresses.

[2017-11-28 12:34] syachroel commented on #27
Ok thanks, I use another PC,..it's working very well
Thanks a lot

[2017-12-13 03:13] gyf900 opened #33 "The earth's rotation &relativistic effect&receiver antenna phase offser should be considered"
Need ways to access postion of statellite. And also postion of receiver so we can get rid of some obsevation errors. Is there a parameter datasheet for this project?

[2017-12-13 08:36] ege010 commented on #33
Hi, the quantities included in the issue title are already taken into account:

Earth rotation: https://github.com/goGPS-Project/goGPS_MATLAB/blob/master/goGPS/positioning/satellite_positions.m#L163

Relativistic effect: https://github.com/goGPS-Project/goGPS_MATLAB/blob/master/goGPS/positioning/transmission_time.m#L82

Receiver antenna PCO/PCV: https://github.com/goGPS-Project/goGPS_MATLAB/blob/m

[2017-12-13 08:36] #33 closed

[2017-12-14 12:19] syachroel commented on #29
Dear ege010 and clicat,
Btw, I just want to try for processing Glonnas data, but the result....

Pre-processing rover...

  0% [                                                      ]
Subscript indices must either be real positive integers or logicals.

Error in interpolate_SP3_clock (line 64)
b = SP3_time(p) - time;

Error in transmission_time (line 107)
    dtS = interpolate_SP3_clock(time_tx_RA

[2018-01-11 15:00] SteBar opened #34 "Error in downloading the ultra-rapid products"
goGPS actually is going "faster" than IGS trying to download ultra rapid products that are not already available on the cddis.gsfc.nasa.gov website.

E.g. At 11/01/2018 15:50 the warning was:
`**  Initializing download process from cddis.gsfc.nasa.gov:21

 [ WW ] Warning: download of igu19834_12.sp3.Z from cddis.gsfc.nasa.gov:21/pub/gps/products/1983 failed
 [ WW ] Warning: file not found or not a

[2018-01-30 02:42] wulingnuaa opened #35 "Prolbem with goGPS_BLK_DD_code_phase_static.m"
Dear Eugenio
        I have down loaded the newly version of goGPS of 0.5.2. Is there any problem with multi-epoch (batch) least-squares adjustment? I feel the program is imcomplete.
Thank you!
Your sincerely!

[2018-01-30 03:29] wulingnuaa opened #36 "Problems on connecting to the server"
Dear  Eugenio Realini
      When I run the goGPSnew.m, I always have problems as follows:

   **  Initializing download process from cddis.gsfc.nasa.gov:21

 [ WW ] WARNING: download of igs15654.clk_30s.Z from cddis.gsfc.nasa.gov:21/pub/gps/products/1565 failed
 [ WW ] WARNING: file not found or not accessible

   **  Checking navigational files from G:\matlab\goGPS_MATLAB-masterv0.5.2\goGPS_MATLA

[2018-01-30 08:28] clicat commented on #36
Dear @wulingnuaa,
goGPSnew was a temporary script to execute a "newer developmet version" of goGPS, the one that currently we are developing in the "Nightly" branch, it is no longer supported in the Master branch.
We are completely rewriting the software from scratch, ignore that file (we are removing it from Master branch).

[2018-01-30 08:28] #36 closed

[2018-01-30 09:08] clicat commented on #35
Yes it is, we were trying to develop a "block" solution, but at a certain point of the development we found out that to complete that approach we needed to improve some other components of the sw (pre-processing), and the only way to do it in a "simple" way was to rewrite all the code, so the development has been suspended. We started developing the "Nightly" branch for this reason. Up to now we j

[2018-01-30 09:09] clicat commented on #32
I'm temporary closing this issue since it is not possible to reproduce the bug.

[2018-01-30 09:09] #32 closed

[2018-02-09 20:24] abubakralbashir opened #37 "inquiring about ITRF Transformation Parameters"
Hello and lot of thanks for this valuated contribution....
I really had some works in my graduation project about GNSS Data Processing,
and  I applied the ITRF Transformation between ITRF2000 to ITRF2008 using the ITRF parameters provided by the official website of International Terrestrial Reference Frame in the link below, I checked the source of your parameters and I found the transformation pa

[2018-02-19 08:09] ege010 commented on #37
Hi, sorry for the late reply.
Are you referring to this script? https://github.com/goGPS-Project/goGPS_MATLAB/blob/master/goGPS/utility/geo/itrf2008etrf2000.m
...this applies the transformation from ITRF2008 to ETRF2000, not ITRF2000.
I'm going to close this issue for now, but feel free to re-open it if you wish!
Thanks.

[2018-02-19 08:09] #37 closed

[2018-04-13 12:53] mohamedamjad opened #38 "Problem starting the Matlab GUI v 0.4.3"
When I tried to open the GUI I got:
[code]

[2018-04-13 13:07] mohamedamjad commented on #38
with the actual version in branch master I got this error:
[code]

Is there a working version of gogps? If yes, how gan I download it

[2018-04-13 15:05] clicat commented on #38
The error you are receiving is probably caused by some variables or state that are coming from another branch of goGPS.
Try running the script "clearBranch" before relaunching goGPS and it should work!
Let me know if this solved your problem!

[2018-04-13 15:07] clicat commented on #35
Closing because the request is referred to an experimental feature that will be developed and rewritten only for the new version

[2018-04-13 15:07] #35 closed

[2018-04-13 15:09] clicat commented on #34
We will solve the problem in the new release, leaving this issue open as a reminder

[2018-04-16 08:17] mohamedamjad commented on #38
**Thank you !**
The 0.4.3 version on go-project.org does not have the clearBranch script.
I just re-pulled from the master branch and **it works now!**
Before I re-pulled, I had the message bellow:
[code]

[2018-04-16 08:53] clicat commented on #38
It does: https://github.com/goGPS-Project/goGPS_MATLAB/blob/master/goGPS/utility/clearBranch.m

It just performs a cleaning of all the singleton classes, typically needed when switching branch.
Restarting MATLAB has the same effect.
Sometimes is useful to delete the last_settings.ini file!

Anyhow, I'm happy that you manage to run it: I'm closing the issue.

[2018-04-16 08:53] #38 closed

[2018-04-16 12:20] mohamedamjad commented on #38
I think that there is no clearBranch file in the version 0.4.3 available on the website gogps-project.org. I confirm that it is available from the master branch of the Github.

Anyway, thank you for your reactiveness that was very helpful.

[2018-04-16 14:31] clicat commented on #38
You are right the version from gogps-project.org is older than the one in the master branch, we will try to fix this in the near future. Thanks

[2018-04-27 07:36] clicat opened #39 "Testing Glo"

[2018-04-27 07:41] #39 closed, assigned to clicat

[2018-05-04 09:27] clicat opened #40 "Adding satellite eclipses"

[2018-05-04 09:31] clicat commented on #5
@eugeniorealini are you able to provide the draft m code to be integrated?

[2018-05-04 09:32] clicat opened #41 "Fix and test orbits downloader"

[2018-05-04 09:34] clicat opened #42 "Ionospheric high order tests"

[2018-05-04 09:38] clicat opened #43 "Moving window solution"

[2018-05-04 09:38] clicat opened #44 "Moving window solution"

[2018-05-04 09:41] clicat opened #45 "Double difference solution"

[2018-05-04 09:43] clicat opened #46 "Preprocessing with multiple receivers"

[2018-05-04 09:50] clicat opened #47 "Add ambiguity fixing"

[2018-05-04 09:50] clicat opened #48 "Network solution"

[2018-05-08 16:04] #40 closed, assigned to tagliagiulio

[2018-05-08 16:09] ege010 commented on #40
👍

[2018-05-10 17:29] clicat opened #49 "SEID seems to be broken 😢"

[2018-05-10 17:30] clicat commented on #49
Test set  on ../remote_data/project/PPP_saph_gred_grtr

[2018-05-25 09:20] clicat commented on #3
VMF have been added to goGPS :-) (nightly verision)

[2018-05-25 09:21] #3 closed

[2018-05-25 09:21] syachroel commented on #3
Great.... thanks very much

On Fri, May 25, 2018, 6:20 PM Andrea Gatti <notifications@github.com> wrote:

[2018-05-25 09:21] clicat commented on #5
Atmospheric loading have been added to goGPS (nighlty)
It requires to be tested!

[2018-05-25 09:23] clicat commented on #43
Archiving as duplicate of #44

[2018-05-25 09:23] #43 closed, assigned to ege010, tagliagiulio, clicat

[2018-06-05 05:00] syachroel commented on #3
Dear Dr. Gatti....

I Trie to execute Nightly version....but something miss...  :

Error using Core.getInstance
Too many input arguments.

Error in goGPS (line 70)
    core = Core.getInstance(true); % Init Core

Thanks

[2018-06-05 07:19] clicat commented on #3
@syachroel
Whenever you switch between branches of goGPS it is necessary to run the clearBranch script.
MATLAB retains the old Classes structure present in its cache, thus making necessary to force the cleaning. Pay also attention that the search path of MATLAB does not include paths from the old version and the new at the same time.

A small request for the future, please open a new issue for the

[2018-06-05 08:14] syachroel commented on #3
@DR.Gatti....

Ok,...already work and..I still learning new interface..

Thanks

On Tue, Jun 5, 2018 at 4:19 PM, Andrea Gatti <notifications@github.com>
wrote:

--

*Syachrul Arief**PhD Student, Dept. Natural History Sciences*
*HOKKAIDO UNIVERSITY - JAPAN*

*Staff Center of Research, Promotion, and Cooperation *
*GEOSPATIAL INFORMATION AGENCY /*

*BADAN INFORMASI GEOSPASIAL (BIG) - INDONESIA*

[2018-06-06 14:36] syachroel opened #50 "goGPS Version Alpha2 Nightly"
Dear Dr. Gatti

I have tried Nightly version and running well but first I receive the message :

[ ok ] Home dir is present
 [ ok ] Observation dir is present
   **   Checking RINEX input files
        - CMAK  (2 ok - 0 ko)
 [ ok ] Observation rinex are present
 [ ok ] Coordinate dir is present
 [ ok ] Meteorological dir is present
 [ ok ] Ocean loading dir is present
 [ WW ] Warning: Atmospheric

[2018-06-06 17:12] clicat commented on #50
mmm... it's strange that it is saying that the configuration is invalid, I do not see anything wrong (just warnings), but that's normal, the software should create those directories.
For the output, well the new nightly version works in a different way, it produces objects that can be "interrogated" at the end of the processing.

after a successful lunch of goGPS you should run getResults, and in

[2018-06-06 17:54] syachroel commented on #50
I choose to file ZIMM then the config, I select one by one from PPP setting and setting nightly,...
I think there's default right, and running processing until...getResult, but I check...the workstation still empty, for example, ZTD: NaaN...and HDOP...empty.
...
So I tried with my data, the result it's same...empty

Thanks

[2018-06-25 08:51] syachroel commented on #50
great.....thanks Dr.Gatti

I tried today for the last Version goGPS, v 0.6.0 alpha 2 - nightly ...for data ZIMM
The result ....Successfully for temporary, for the next, I will tray for another data

Regard

Syachrul

[2018-06-25 08:54] #50 closed, assigned to nobody

[2018-06-29 07:33] clicat commented on #49
It should be fixed now....

[2018-06-29 07:33] #49 closed, assigned to nobody

[2018-06-29 07:34] clicat commented on #5
Giulio did it!!!!

[2018-06-29 07:34] #5 closed

[2018-07-07 12:19] syachroel opened #51 "Night version for Vienna Mapping Function"
Dear Dr. Gatti,

Night version for Vienna Mapping Function, still not running well

Loading  D:\goGPS_MATLAB-goGPS_nightly\data\reference\VMF\VMFG_20151231.H00
        Loading  D:\goGPS_MATLAB-goGPS_nightly\data\reference\VMF\VMFG_20151231.H06
        Loading  D:\goGPS_MATLAB-goGPS_nightly\data\reference\VMF\VMFG_20151231.H12
        Loading  D:\goGPS_MATLAB-goGPS_nightly\data\reference\VMF\VMFG_2

[2018-07-23 07:57] clicat commented on #44
Done on the new Nightly Version

[2018-07-23 08:00] #44 closed, assigned to clicat

[2018-07-23 08:02] #47 closed, assigned to nobody

[2018-07-23 12:59] #42 closed, assigned to tagliagiulio

[2018-07-23 14:36] #41 closed, assigned to clicat

[2018-07-31 04:24] liyang-whu opened #52 "Cannot rnning GOGPS under MATLAB"
Excuse me, when I run the latest program under MATLAB, there are a lot of problems. The latest program cannot run like the version 0.4.3.So could you tell me what is wrong and what should l do? Thank you very much.

[2018-07-31 10:10] clicat commented on #52
Hi @liyangSKD, I need a bit more information. what do you mean with "the latest? Do you refer to the  Master branch? Or the latest development branch (NightlySmoothSession)?
What kind of error do you see? What MATLAB version are you using?

[2018-07-31 10:11] clicat commented on #51
Hi @syachroel, sorry for my delay in the answer. Does it work now (NightlySmoothSession)?

[2018-08-02 06:13] liyang-whu commented on #52
Hi,I used the latest master branch under MATLAB 2010b.All operations are in accordance with the version 0.4.3.
The errors are as follows.
??? Error using ==> handle
Cannot convert to handle.

Error in ==> Go_State>Go_State.getCurrentSettings at 159
            cur_settings = handle(this.cur_settings);

Error in ==> Core>Core.Core at 61
            this.state = Go_State.getCurrentSettings();

Error

[2018-08-02 07:23] clicat commented on #52
Sorry, @liyangSKD we are currently developing a totally new version in the branch Nightly smooth session, but as far as I know, it should be compatible down to MATLAB 2016a (maybe 2015b). Even the Master version received some updates in the past that drop support to the older MATLAB versions. In my opinion, this is the main reason why you are no more able to run goGPS.

[2018-08-02 07:26] #52 closed, assigned to nobody

[2018-08-02 07:27] clicat commented on #48
@tagliagiulio is working on it :-)

[2018-09-21 10:46] zain-farooq opened #53 "Rinex File Unable to run Completely"
Hi!
I am using Huace i80 RTK set for getting master and rover data. The data collected is for around 16 minutes. goGPS runs for quite some time before displaying the error.
"
Subscript indices must either be real positive integers or logicals.

Error in goGPS (line 3075)
                    time_GPS_diff(unused_epochs) = [];
"
Is it that 16 minutes data is large for the buffers, since I checked 'y

[2018-10-13 07:59] clicat opened #54 "Problem with fixed position and network solution"
When a receiver have a fixed position in CRD file and it's present in the network solution the software crashes building the design matrix of the problem

[2018-10-18 10:04] tagliagiulio commented on #4
implemented

[2018-10-18 10:04] #4 closed

[2018-10-18 10:05] tagliagiulio commented on #48
implemented

[2018-10-18 10:05] #48 closed, assigned to tagliagiulio

[2018-10-18 10:06] tagliagiulio commented on #45
part of the network solution

[2018-10-18 10:06] #45 closed, assigned to nobody

[2018-11-22 12:20] syachroel opened #55 "Processing Rate on goGPS 1.0 Beta"
Dear Dr. Gatti

Have a nice time in Bali,...
I am already trying to validate my RINEX data for **one day** with IGS data (ZPD).
In goGPS 1.0 Beta, I have good correlation and diff average. But, if I want to **more one-day** data
with PROCESSING RATE EVERY 5 MINUTES, how to change from 30 seconds to 5 minutes??

Thanks a lot

Syachrul Arief

Best Regard

[2018-11-22 12:27] syachroel opened #56 "Kalman Filter initialize"
Dear Dr. Gatti,

Anyway, I still use goGPS master for my processing RINEX data.
Sometimes processing running well, but seldom any warning

**It was not possible to initialize the Kalman filter.**

Thanks a lot

Regards
Syachrul Arief

[2018-11-22 15:30] clicat commented on #55
Actually the ZPD solution from IGS is averaged so you can average the solution you get from gogps in a span of 5 minute. Note that to compute a comparable value you should use the same mapping function used by the comparison data and maybe play a bit with the regularisation parameters of the tropospheric delay. @giuliot   tested the solution against various official products, maybe he can tell to

[2018-11-22 15:31] clicat commented on #55
Ehm it’s not @giuliot but @tagliagiulio

[2018-11-22 15:33] clicat commented on #56
Aaaaah that’s a totally different story, the new version is a lot better for computing ZTD

[2018-11-23 10:19] syachroel commented on #55
Thanks for the answer,...
But how to insert average the solution to goGPS 1.0 Beta @tagliagiulio
in goGPS master any optional for 5 minutes...

[2018-11-24 04:48] #56 closed, assigned to nobody

[2018-11-25 10:36] giulio-t commented on #55
Dear syachroel, there is no option to have one parameter every 5 minute. If you want to compare the solutions against Igs official zpd, you will have to average them in a 5 minute span.
I am writing the class Tropo_Sinex_Compare to do that, but is still in development

[2018-12-05 07:33] wakawawiwa commented on #56
Dear All,

I got that problem too, there is appear a warning

**It was not possible to initialize the Kalman filter.**

any suggestion for the problem?

anyway I attach the RINEX files
[RINEX files.zip](https://github.com/goGPS-Project/goGPS_MATLAB/files/2647649/RINEX.files.zip)

Thanks

Regards,
Raka

[2018-12-12 16:13] ryanncheng opened #57 "Some questions about LS_DD_multibaseline.m"
Dear Dr. Gatti

I take the liberty of disturbing you.

In the routine named LS_DD_multibaseline.m , when computing the Variance-Covariance-Matrix of the float ambiguities , matrix Pg =  G*((G'*(Q^-1)*A)^-1)*A'*(Q^-1);

But, in Instantaneous Estimation of Attitude from GNSS by Hendy Fitrian Suhandri , the VCM of the float ambiguities can be calculated by
Qaa = [(P^-1)×H'(Q^-1)H - (P^-1)F'×H'(Q^-1)G

[2018-12-13 08:14] clicat commented on #55
In the actual version, we added spline solution (linear or cubic) you can compute it a linear spline with an interval of 5 minutes, and then undersample the results taking one value every 5 minutes

[2018-12-13 08:28] clicat commented on #57
Dear @brycheng we have completely rewritten goGPS for static positioning with the least squares approach while the Kalman filter approach for dynamic studies hasn't been re-implemented yet. It could take me a while to have a look back at the old goGPS code. I can say that there could be a bug in the old goGPS version, but to understand whether it is true or not you can directly ask to Dr. Suhandri

[2018-12-13 08:34] clicat commented on #53
Dear @zain-farooq sorry if no one answered you before. We are working on a new version of goGPS for static positioning and at the moment the Kalman filter approach for dynamic studies hasn't been re-implemented yet. Unfortunately looking at the old code could be very time demanding for us, there could be a bug but we have no time to fix it. We are spending all of our time developing the newer goGP

[2018-12-13 08:35] clicat commented on #46
Done a long time ago

[2018-12-13 08:35] #46 closed, assigned to nobody

[2018-12-13 08:36] clicat commented on #28
Done a long time ago

[2018-12-13 08:36] #28 closed

[2018-12-13 08:36] clicat commented on #21
Done a long time ago ;-)

[2018-12-13 08:36] #21 closed

[2018-12-13 08:37] clicat commented on #13
Done some time ago on the new goGPS 1.0 version

[2018-12-13 08:37] #13 closed

[2018-12-13 08:39] clicat commented on #19
PPP and tropospheric analysis have been re-implemented and improved in the new goGPS 1.0 version. Feature added :-)

[2018-12-13 08:39] #19 closed

[2018-12-13 08:41] clicat commented on #29
Since we are working on the new static oriented version of goGPS the older KF code is no more maintained. In the future, we are going to re-add KF functionalities re-writing everything from scratch. I'm closing the bug for this reason

[2018-12-13 08:41] #29 closed

[2018-12-13 08:44] clicat commented on #54
It crashes with position fixed on "2" in the CRD file
with position "3" it's working

[2018-12-13 08:45] #55 closed, assigned to nobody

[2018-12-13 08:56] clicat commented on #57
I talked with Dr. @ege010 and he told me that it's better to contact Dr. Suhandri since he was the original developer of that module. Sorry for the "re-direction" ;-)

[2018-12-13 08:56] #57 closed, assigned to nobody

[2018-12-21 09:17] syachroel opened #58 "File (*.clk) on products data CDDIS and GARNER in 1999"
Dear Dr. Andrea Gatti,

I process rinex 1999 data with goGPS, and the result:

  [WW] WARNING: igs09744.clk_30s have not been found remotely
  [WW] WARNING: igs09744.clk_30s have not been found remotely
  [WW] WARNING: igs09744.clk have not been found remotely
  [WW] WARNING: igs09744.clk have not been found remotely
         Some files not found remotely

  _[!! ] ERROR: Not all ephemerids found

[2018-12-23 20:33] clicat commented on #58
Actually, I see that igs09744.sp3.Z is available on the CDDIS server, I believe that the downloader of goGPS was not able to go online and for some unknown reason, it didn't download the needed files. You can try to launch goGPS again or download manually the required orbits/clocks and put them into the folder that you have chosen on the Resources tab of the interface

![screenshot 2018-12-23 at 2

[2018-12-25 03:28] zain-farooq commented on #53
Ok. Thank you for replying

[2019-02-13 21:33] earth-obs opened #59 "Pre Processsing error at CRX file"
goGPS doesn't create any file in C:\...\satellite\CRX directory. And I'm getting this error message. How to do I? Is it possible to deactivate pre-processing because of my data not regularly?

  **   Pre-processing on receiver 1: log12040207a
  --------------------------------------------------------------------

   **   Removing observations marked as bad in Bernese .CRX file
   **   Reading CRX

[2019-02-14 08:41] clicat commented on #59
Thanks for the report, I'll try to reproduce the error and correct it in the morning!
The pre-processing perform multiple tasks that are vital for PPP or NET processing (apply multiple corrections, compute tropospheric delay, synchronize receiver etc). You can't deactivate it. But you can create a CRX folder and download the files manually from the aiub ftp.

[2019-02-14 13:39] earth-obs commented on #59
But my data isn't IGS point, and can you give me a link, please?

[2019-02-14 17:33] clicat commented on #59
I reviewed the download functions, I was not really able to reproduce the bug, but I modified and corrected some procedures. Give the new code a try!
The CRX file contains a list of satellite problems, and they can be found here: ftp://ftp.aiub.unibe.ch/BSWUSER52/GEN/ one file per year
e.g. ftp://ftp.aiub.unibe.ch/BSWUSER52/GEN/SAT_2019.CRX

However, I do not understand what's the meaning of the "

[2019-02-14 19:59] earth-obs commented on #59
Thank you so much. I didn't know what is meaning ".crx" file.

[2019-02-14 19:59] #59 closed, assigned to clicat

[2019-02-14 20:20] earth-obs opened #60 "Error at Downloading Resourcues"
**When I selected the "Allow automatic download of missing resources" MATLAB gives me this error message. Actually, my problem is the auto download. I had downloaded resources manually at the previously I submitted the issue. Detailed log file in here at the [link](https://drive.google.com/open?id=1Q9MaoBdHw4qX44_OEB5AKPkgjzambbn_).
Thanks for your attention**

 [ WW ] WARNING: brdm0390.19p have n

[2019-02-15 07:09] clicat commented on #60
Hi @JKeast0 try to pull the latest updates from github from yesterday! I suppose that this problem was generated by the fact that no folder "reserved" was present in the goGPS directory. This caused the impossibility of creating the temporary file needed by the aria2 execution to download files. Now if not present I create it. In an update from yesterday I reviewed the download procedure, and in f

[2019-02-15 07:12] clicat commented on #58
Hi @syachroel, I hope that with the latest update from yesterday the download of ephemerides is more stable! Let me know and close the bug if you think is solved.

[2019-02-15 07:15] syachroel commented on #58
Okay... thanks for information..
I will try

On Fri, Feb 15, 2019, 4:12 PM Andrea Gatti <notifications@github.com> wrote:

[2019-02-15 08:42] syachroel commented on #58
Dear @clicat,

I just tried ... for the data 2009 it's running well, but my 1999 data ... at below on the report

--------------------------------------------------------------------------
 Starting session 1 of 2

 Begin 1999/01/07 00:00:00.0000000 GPS
 End   1999/01/07 23:59:59.9999000 GPS
--------------------------------------------------------------------------
 [ -- ] Preparing receiver 1 of

[2019-02-16 09:13] clicat commented on #58
Ok Ok, I see that I was reading sp3 while you were writing clk! My mistake I did not get your problem before! Yes, at that time there were no clk products from IGS. I cannot actually find the "ig109744.clk" that you are talking about. Anyhow, I'll try to process some old data (never tried before) and correct the problems that the software may find!
Thanks and sorry for the misunderstanding, that w

[2019-02-17 09:37] clicat commented on #58
There was a millennium bug :-D in the GPS_Time object and some other minor issue.
I also added the new center "Legacy" that is basically an IGS GPS repo that accepts the fact that there could be an sp3 without external clocks.
By the way, you can create new "centers" in that file using the combination of resources that you prefer.

Unfortunately, I was working on a test set and I notice that prior

[2019-02-17 13:50] clicat commented on #53
Dynamic positioning is not yet implemented, closing the "bug" temporary

[2019-02-17 13:50] #53 closed, assigned to nobody

[2019-02-17 13:51] clicat commented on #34
Now it should be ok

[2019-02-17 13:51] #34 closed

[2019-02-17 19:42] clicat commented on #58
Of course, now I remember May 2000 is the limit for the selected availability! Before that date, goGPS is not able to work properly! Totally different outlier detection is needed for those data, the actual function flags everything as outlier! I close the "bug" and I'll open an enhancement request (but I definitely don't know when we are going to try to process data older than 2000!).
Thanks for y

[2019-02-17 19:43] #58 closed, assigned to nobody

[2019-02-17 19:49] clicat opened #61 "Add to goGPS the ability to process data older than May 2000 (enabled SA)"
Modify goGPS to add the ability of process data during the selective availability period (< May 2000). In particular pre-processing is flagging all the phases considering the data as bad observations.

Reference
[https://www.gps.gov/systems/gps/modernization/sa/](https://www.gps.gov/systems/gps/modernization/sa/)

[2019-02-18 05:21] syachroel commented on #58
Great.....thanks for help my answer....

[2019-03-08 11:37] syachroel opened #62 "Matlab 2018b with Linux"
Dear Dr Gati...

 I try run goGPS new update... in another PC used Linux 16.04 with matlab 2018b
but my result....

_Dot indexing is not supported for variables of this type.

Error in Core_Utils.readAntennaPCV (line 354)
                                                        if ~(date_limits.first.getMatlabTime()

                                                        (date_limits.last.getMatla

[2019-03-09 06:56] clicat commented on #62
Hi, I’m on holiday and far from home till Sunday. On Monday I’ll have a look at it.
1. There is a missing check on the existence of the antex file
2. It seems that the antenna haven’t been loaded: this could due to 2 possible problems, the first is that I broke the code (very probable with my last rushed update on the parallelism), the second is that the antex (.ATX) file doesn't exist (in a case

[2019-03-09 06:58] syachroel commented on #62
Sorry....,okay I'm waiting on Monday

On Sat, Mar 9, 2019, 3:56 PM Andrea Gatti <notifications@github.com> wrote:

[2019-03-19 13:14] clicat commented on #62
Hi @syachroel sorry if I didn't answer I was too busy, I tried to reproduce the bug with no success, could you attach the antex (.ATX) file you were trying to load?

[2019-03-28 07:49] gdpinchina opened #63 "Error at downloading files from 'ascp01950.436' to 'ascp02050.436'"
It seems urls `ftp://ssd.jpl.nasa.gov/*` are deprecated. Without files from 'ascp01950.436' to 'ascp02050.436', the Core_Sky.m cannot create `de436.bin`. Any solutions to this?

[2019-03-28 14:20] clicat commented on #63
🤔 It's working for me: ftp://ssd.jpl.nasa.gov/pub/eph/planets/ascii/de436/
I can attach it for you, you can put it into "goGPS_MATLAB/goGPS/reserved/JPL/" if the folder do not exist you can create it
[ascp02050.436.zip](https://github.com/goGPS-Project/goGPS_MATLAB/files/3018357/ascp02050.436.zip)

[2019-03-28 14:26] clicat commented on #63
@gdpinchina if you need additional files I have a copy of that entire folder on my hard drive

[2019-03-29 01:08] gdpinchina commented on #63
Thanks a lot! I really appreciate that you upload the files 😄 .
I have used VPN to access the website, but it still didn't work 🤔 . Maybe the Great wall in China blocked it in some other ways.
By the way, I notice that NASA seems to moving its ftp resources to its https website. As it shows the announce on `https://ssd.jpl.nasa.gov/`:
[code]
and on `https://podaac.jpl.nasa.gov/`:
[code]

[2019-03-29 01:08] #63 closed, assigned to nobody

[2019-03-29 06:53] gdpinchina commented on #63
I think I need two more files, or maybe everything in your folder `goGPS_MATLAB/goGPS/reserved/JPL/`? I'm not sure.
Here are these two files I mentioned:
` ftp://ssd.jpl.nasa.gov/pub/eph/planets/ascii/de436/header.436`
`ascp01950.436`
Again, thanks a lot!

[2019-03-29 08:11] clicat commented on #63
Thanks a lot for all the info.
Hi @gdpinchina, thanks!
Here I attach all the necessary files (if I discover that they can be redistributed in the goGPS repository I'll copy them in it, today I'm going to investigate this).
Anyway, we will switch the protocol of JPL resources from FTP to https thanks to your info! @giulio-t or me will do it!

[ascp01950.436.zip](https://github.com/goGPS-Project/goG

[2019-04-01 00:52] gdpinchina commented on #63
Thank you, my  friend! @clicat

[2019-04-29 07:56] clicat commented on #60
I'm closing this issue since no more feedback has been provided to check that the problem is still there (it shouldn't be)

[2019-04-29 07:57] #60 closed, assigned to clicat

[2019-08-12 15:30] libing64 opened #66 "Cannot run goGPS.m under Matlab"
___ ___ ___
     __ _ ___ / __| _ | __|
    / _` / _ \ (_ |  _|__ \
    \__, \___/\___|_| |___/
    |___/                    v 1.0 beta 2

--------------------------------------------------------------------------
 [ WW ] Warning: This is a goGPS beta build, use it at your own risk!
                 Some parts of it could not work properly
                 Please open a new issue on github if you

[2019-08-12 15:33] libing64 commented on #66
[goGPS_run_20190812_232557.log](https://github.com/goGPS-Project/goGPS_MATLAB/files/3493244/goGPS_run_20190812_232557.log)

[2019-08-12 15:34] libing64 commented on #66
Matlab version R2017a

[2019-08-12 16:29] clicat commented on #66
Hi @libing64 as far as I see you had a crash in computing the celestial position of sun and moon.
The function jplephem have not been written by us but it is used to read the jpl planetary ephemeris files stored in the file "de436.bin".
If this file is corrupted this function does not work.
You can find the file and delete it, depending on the platform it could be in:
 - Windows - HOME_DIR\AppData

[2019-08-13 02:41] libing64 commented on #66
@clicat Great thanks for your reply, I will have a try and I will also keep the version update.

[2019-08-13 16:07] libing64 commented on #66
@clicat After updating to the latest code, the GUI seems not runnable.

Here is the output

               ___ ___ ___
     __ _ ___ / __| _ | __|
    / _` / _ \ (_ |  _|__ \
    \__, \___/\___|_| |___/
    |___/                    v 1.0 beta 3jp

--------------------------------------------------------------------------
 [ WW ] Warning: This is a goGPS beta build, use it at your own risk!

[2019-08-14 01:00] libing64 commented on #66
@clicat After resetting some commits to this position, the example would have another error.

commit 163c6b7f6cabaa8db1e99ea2f265e5cc7ba294d5 (HEAD -> goGps_2)
Author: Andrea <gatti.andrea@gmail.com>
Date:   Thu Jul 25 16:55:02 2019 +0200
    Moving note position in help

=========================================
goGPS

               ___ ___ ___
     __ _ ___ / __| _ | __|
    / _` / _ \ (_ |  _|

[2019-08-14 10:41] clicat commented on #66
The VMF reader is not very robust it supposes that the files have always the same size. One probable cause of this error is that the downloaded VMF file is corrupted or it does not have the right size. check if they have all the same dimension, if not, delete the files, they will be re-downloaded, or try to make the processing without using VMF.

Let me know if it works!

[2019-08-14 15:20] libing64 commented on #66
@clicat The vmf files all have the same size, but after deleting these files and re-downloading, they both have different size.

I tried to debug this code, and I found that it didn't stopped when reading VMF file, but when reading ~/data/reference/VMF/orography_ell.

![error](https://user-images.githubusercontent.com/3192355/63033531-5b9ab100-beea-11e9-833a-3c017a64206b.png)

[2019-08-14 16:20] clicat commented on #66
This is very strange: all my files have the same dimensions: 668'636 bytes (672 KB on disk)
And the dimension of orography_ell and orography are 106'986 bytes (111 KB on disk)
My suggestion is to delete that files and make a new pull from git. After making the pull, type "clearBranch" on MATLAB (or close it and reopen it), then try again.
These are files provided with the code, I see no reason why

[2019-08-15 08:12] devd1357 opened #67 "run goGPS"
hi sir,
i am new to this module.
can anyone help me to run this program ..
i tried with GUI but errors are coming.
please help me to find a solution or else send me how to process it if any videos are available...
my mail ID: dev.navic@gmail.com
please do needful...

[2019-08-15 08:41] clicat commented on #67
Hello @devd1357, unfortunately, there is not yet any documentation available for this new release of the software (that is a totally new version with respect to < 0.5 versions). This is mainly my fault, we are pushing so much the development that we did not yet arrive in a "feature freeze" state.
Firstly, we have to finish to move to the new undifferenced uncombined engine, then hopefully we will

[2019-08-16 13:56] clicat commented on #62
with no updates since March, I'm closing this bug

[2019-08-17 18:15] #62 closed, assigned to nobody

[2019-09-30 09:02] clicat opened #68 "Add spline + epoch by epoch estimation (for tropospheric parameters)"
Compute solution with splines, at the last iteration compute also epoch by epoch values for the tropospheric parameters

[2019-09-30 09:03] clicat opened #69 "Add intra arc ambiguity fixing for PPP (a.k.a. cycle-slip repair)"
This feature should be inserted in the new uncombined engine

[2019-10-02 13:35] clicat opened #70 "Verify working of PREPRO -s=G"
In the multi-constellation condition, it could be useful a pre-processing from a single (or a subset) of constellations

[2019-10-03 12:50] clicat commented on #70
Done in the last commit 6a034af, speed improvements are still possible

[2019-10-03 12:50] #70 closed, assigned to clicat

[2019-11-19 11:49] earth-obs opened #71 "NET Processing Error"
Hi the developer team of goGPS.  I've been trying to perform a NET process and it giving me the following errors..
On pre-processing:
**error in state- epoch out of range
** [ WW ] Warning: Code solution have not been computed, something is wrong in the current dataset

I tried with different datasets. It didn't work. Then in executing NET step says this:

 [ WW ] Warning: No reference have been f

[2019-11-19 14:41] clicat commented on #71
Hello! First of all, let me say sorry because we did not yet produce any documentation yet, second because sometimes we change part of code and we risk to broke some other parts of goGPS (still beta).

Looking fastly to your question I can spot a first problem (maybe not the only one).

  cmd_001 = "FOR S*"
  cmd_002 = "FOR T4"
  cmd_003 = "LOAD T4 @30s"
  cmd_004 = "PREPRO T4"
  cmd_005 = "END"

[2019-11-19 14:43] clicat commented on #71
The sequence of command is how it is written in the settings file, here there is the one you can paste into the GUI:

FOR S*
   FOR T*
      LOAD T$ @30s
      PREPRO T$
      PPP T$
   END
   NET T1:4 R1:3 --IONO
   PUSHOUT T*
END

I also suggest a PPP on the reference stations if you don't fix their positions

[2019-11-20 07:49] earth-obs commented on #71
Thanks for replying but I've tried with latest version and the commands you gave but still giving same errors.

**   Pre-processing on receiver 1: CPAR
  --------------------------------------------------------------------
   **   Removing observations marked as bad in Bernese .CRX file
   **   Reading CRX data
        - SAT_2019.CRX [ ok ]
 [ WW ] Warning:  2880 bad epochs (sat G04) have been dis

[2019-11-20 08:11] clicat commented on #71
Aaaaah I found your problem is in the "jplephem" not written  by us. I'll search for a solution in the morning, and I'll write you back!

[2019-11-20 09:10] clicat commented on #71
Have you tried to close MATLAB, re-open it and run goGPS again?

I actually don't know why that part of the code is not working for you. We always just used it.
Anyhow, I can _maybe_ have a solution.
The broken function is in "jplephem.m" it's a function written for computing sun and moon position giving the JPL ephemeris and it is called from Core_Sky.computeSunMoonPos.
The function reads the val

[2019-11-20 12:01] earth-obs commented on #71
I solved that problem now. The file in here < HOME >\AppData\Local\goGPS was not fully downloaded. I copied the originial file to there and it fixed. But now i'm having another error in NET processing:

Btw the version of MATLAB i'm using is R2018a.

[2019-11-20 13:32] ege010 commented on #71
Hi, have you already downloaded the LAMBDA MATLAB code? https://www.tudelft.nl/en/ceg/about-faculty/departments/geoscience-remote-sensing/research/lambda/lambda/

It should be put in goGPS\positioning\lambda\lambda_v3

[2019-11-21 08:21] earth-obs commented on #71
Yes I downloaded and put in the lambda_v3 folder. Now its giving this:

[code]

[2019-11-21 09:00] earth-obs commented on #71
It worked when turned off these 2 options in pre-processing tab:
Trackings combinations.
Sat clock-re alignment.

Also how can i get position residuals after processing.

[2019-11-21 10:12] giulio-t commented on #71
Hi, regarding your previous error. Ambiguity fixing in the presence of ionospheric delay is only possible with the new uncombined engine that we are integrating. To remove the previous error you just have to deselect ambiguity fixing from the processing tab. Then the phase float ionofree residual can be found in core.rec(1).work.sat.res.  The rows of the stored matrix are the epochs of the observa

[2019-11-21 11:19] earth-obs commented on #71
Thanks for all your helps. :)

[2019-12-14 12:25] loveforeverLi opened #72 "How to Run Multi-Constellation and Multi-Frequency DD"
hello everyone,

I run goGPS (beta 1 version) with GPS L1 mode successfully, but when I add more constellations and/or more frequency, some errors like the following occurs:

error RINEX_get_obs (line 300)
        if (~obs_struct.S2(index))

error load_RINEX_obs (line 200)
            [cur_line, obs] = RINEX_get_obs(file_buf, cur_line, num_sat, sat, sat_types, obsColumns, nObsTypes, cc,

[2019-12-17 16:04] #71 closed, assigned to nobody

[2019-12-17 21:00] clicat commented on #72
Hello @loveforeverLi it seems to me that you are runnig the old 0.5.x version of goGPS. To answer you I need to recap a bit of goGPS story.

In 2017 due to a changed focus in my research I started to rewrite parts of goGPS to make it faster and object oriented. Together with Giulio and Eugenio (that first implemented a new LS engine) we pushed the development in a new direction, we decided to aban

[2019-12-17 21:43] clicat commented on #54
It should not happen anymore

[2019-12-17 21:43] #54 closed, assigned to tagliagiulio

[2019-12-17 21:43] #51 closed, assigned to nobody

[2019-12-17 21:44] #66 closed, assigned to nobody

[2019-12-17 21:45] #67 closed, assigned to nobody

[2019-12-27 11:59] clicat opened #73 "Max Code Obs Error and Max Phase Obs Error are ignored by the uncombined engine"
These two parameters of the processing tab are ignored by the uncombined PPP engine

[2019-12-31 17:15] clicat opened #74 "Check observation weighting"
Weighting functions are not homogeneous among engines.
The weighting functions are in `LS_Maniulator.getObsEq` and `LS_Maniulator_new.solve`, search for `getWeigthingStrategy`

[2020-01-08 10:02] Alessandra90 opened #75 "EXPORT TRP_SNX"
It might be better to save the files in "out-->year-->doy" folder than in "out" folder.

[2020-01-08 22:05] clicat commented on #72
If you are still interested I created the wikinof the project.
Since this is jot an issue that can be reproduced I’m closing it

[2020-01-08 22:05] #72 closed, assigned to nobody

[2020-01-08 22:09] clicat commented on #27
This issue is relative to the old goGPS version, since 1.0 is coming I’m closing this bug!

[2020-01-08 22:09] #27 closed

[2020-01-27 09:09] #74 closed, assigned to tagliagiulio

[2020-01-30 04:51] syachroel opened #76 "tropospheric product 5minutes"
Dear goGPS team

Congratulations, goGPS is getting better.

But I have a question if I want to set the trop. output. only 5 minutes is there a choice menu?

Because so far the trop. product, the default setting is 30 seconds, but the output that comes out, sometimes starts 29-60-89 .... so it's not consistent if I extract from the data 30 seconds to 5 minutes.

Thanks
Regard
Syachroel

[2020-01-30 08:08] clicat commented on #76
Thanks @syachroel, by default goGPS computes epoch by epoch parameters, even when splines are selected; in that case, a reduced number of splines is computed and then the synthesized expansion is saved into the receiver workspace.
In a future, we may change this behavior but at the moment, to export in the output object at 5 minutes rate, and then use the export commands to produce output you can

[2020-01-30 08:09] clicat commented on #76
Regarding the times 29-60-89, probably there are some problems with the roundings of the results. I will try to look into it as soon as I have time ;-)

[2020-02-04 13:06] syachroel commented on #76
sorry still not working by PUSHOUT T* @300s

[2020-02-04 16:05] clicat commented on #76
mmm write here the exact list of commands you are using

[2020-02-06 07:01] syachroel commented on #76
% PUSHOUT T* @300s - ERROR: CMD UNKNOWN

[2020-02-06 07:03] syachroel commented on #76
I'm writing below...
insert here the goGPS command list :

[2020-02-06 20:07] clicat commented on #76
First it seems you are inserting the command in the inspector, and not in the main command list that you used to execute the processing. This is ok if you have processed just one session and you do not have emptied the receiver workspace. From the inspector you can execute goGPS commands manually. Apparently the inspector does not recognize the command. My guess: have you updated the code? If the

[2020-02-06 20:08] clicat commented on #76
(The rate parameter for the pushout command is a pretty recent update!)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-19 16:51] clicat commented on #76
The output rate for tropospheric parameters have been added in GUI in the new tab Output

[2020-02-19 16:51] #76 closed, assigned to nobody

[2020-03-24 11:12] LIFangchao1 opened #77 "Dynamic model of Receiver"
Thank you very much for the open-source of goGPS.
There is a Dynamic model setting at the panel of the previous version of goGPS, but I can't find it at the current version. I am not sure it's my low-class error or you didn't set it.
Also, some questions about functions. In the past few days, I have made a glance of goGPS, There is some difficulty for me to understand the code for single-point pos

[2020-03-24 20:21] clicat commented on #77
Dear @LIFangchao1 thanks for trying goGPS. The new release of goGPS 1.x is just loosely based on the 0.x. We no more use Kalman filter but batch LS solutions, (some more information can be found on the project website [gogps-project.github.io](gogps-project.github.io) and we focused our current effort in creating a software for the processing of static stations, maybe this will change in the futur

[2020-03-25 13:25] LIFangchao1 commented on #77
Thanks for your reply and time.
Sorry for my unclear description. It is difficult for me to understand the codeStaticPositioning function, which you called batch LS. Would you like to provide some literature about batch LS?

[2020-03-27 14:42] tagliagiulio commented on #77
Hi LIFangchao1.
Which part of the code you have problem to understand?
Batch LS are simply Weighted Least Squares.  https://en.wikipedia.org/wiki/Weighted_least_squares
The term batch is used in the sense that observations from all epochs are compensated together.

[2020-04-02 11:20] #77 closed, assigned to tagliagiulio

[2020-04-02 11:21] tagliagiulio commented on #77
the asking user says the question has been answered

[2020-04-09 14:13] bkaan05 opened #78 "I can't see the Integer Ambiguity Resolution number(quantity,value) = N"
To sum up,
How we can achieve how the program resolves Ambiguity Resolution(N) and GNSS data processing analysis in general ?

[2020-04-14 14:28] tagliagiulio commented on #78
The ambiguity resolution is based on the LAMBDA software package. However the package is not included in the repository (due to copyright reason) but can be requested free of charge at https://gnss.curtin.edu.au/research/lambda-and-ps-lambda-software-packages/

[2020-06-02 13:48] pyuan111 opened #79 "New mapping function"
Dear developers, is it possible to add the newly released VMF3 (1*1 degree) mapping function into goGPS?

[2020-06-13 11:05] noone77777 opened #80 "BDS-3 constellations does not work"
ERROR:            Selected center: default not compatible with selected            constellations: GC

[2020-06-13 21:29] clicat commented on #80
Orbits from IGS do not include Beidou satellite, use CODE MGEX instead

[2020-06-13 21:29] #80 closed, assigned to nobody

[2020-06-13 21:30] clicat commented on #78
Since we have no more feedback on the issue, I'm going to close it.

[2020-06-13 21:30] #78 closed, assigned to tagliagiulio

[2020-06-13 21:39] clicat commented on #79
Yes, it is. it requires us to have a little bit of spare time. We want to add many more mapping functions but modifying the interface and set up the automatic download of more resources is not  so immediate. The actual main developers of goGPS are @giulio-t and me, but if anyone wants to do something we are always happy to help, unfortunately, it is not so easy to find enough time to do everything

[2020-06-16 03:46] noone77777 commented on #80
Thanks !
AND  BDS-3  like C35,C36 .e.g   is  also  ok?

[2020-06-16 13:19] clicat commented on #80
Honestly, I believe they work, but we never did intensive tests with BeiDou satellites. Since we are located here in Europe, we don't use them on a daily bases.

If you can provide feedback, or if you find any bug, let us know!

[2020-06-19 15:05] Adabapt opened #81 "GUI interface problem"
Hi developers,

I have some problems with the GUI interface. In fact, when I launch goGPS, it opens a default PPP project but I don't have the interface to create a new project or to load an others project, and in the matlab console I have these errors :

Index exceeds the number of array elements (0).

Error in GUI_Edit_Settings/updateResourcePopUpsState (line 2755)
            this.rpop_up.Paren

[2020-06-24 09:48] clicat commented on #81
Hi @Adabapt,
 sorry for the late answer, I tried to clone the project in a new folder and execute goGPS as you can download it.
The GUI works without any problem in my MATLAB 2018a and MATLAB2020a, what version are you using?
In your screenshot, I cannot see the menubar of the goGPS window. where the menu for the guided creation of a project is. At the bottom of the window however, there is the lo

[2020-06-24 13:27] Adabapt commented on #81
I run GoGPS in MATLAB2020a.
So I update my code with the last commit but I have an error when I launch the clearBranch script

Unable to resolve the name GUI_Edit_Settings.closeGUI.
Error in clearBranch (line 3)
GUI_Edit_Settings.closeGUI

And when I launch goGPS the menubar don't appear and I can't choose the type of the project or create an other one.
I know I can change some arguments in the se

[2020-06-24 14:54] clicat commented on #81
It seems you don't have the code added correctly to the path
Move to the goGPS folder and type in MATLAB command line
[code]
goGPS have been always run by us from the goGPS folder.
then the command `addPathGoGPS` add to the MATLAB path all the folders needed by goGPS
It seems that you executed `clearBranch` with not the right path added otherwise it should find the `GUI_Edit_Settings.closeGUI()` f

[2020-06-24 15:12] Adabapt commented on #81
After the execution of addPathGoGPS, the clearBranch script stop to produce some errors but my first problem with the GUI wasn't fix and I continue to not have any menubar when I launch goGPS.
I have also a little issue with the goGPS log window which clean randomly.

![Capture d’écran de 2020-06-24 17-09-23](https://user-images.githubusercontent.com/58212422/85582405-b38f6180-b63d-11ea-9881-4363a

[2020-06-24 21:12] clicat commented on #81
I managed to reproduce the bug and fix it (I hope). It was due to a clf command on an axis in the figure. It shouldn't remove the menus but it does (on MATLAB 2020a).

Check out the last commit f8f567f that I just pushed on the branch.

Let me know if the bug is fixed also for you!

[2020-06-24 21:16] clicat commented on #81
About the log window being cleared, it is due to bad synchronization of the interface, if you click on a window before MATLAB finishes some updates it may happen.

[2020-06-24 21:44] Adabapt commented on #81
About the log window I noticed it was about the update of the window, It was just to let you know.
And for the GUI interface it's completly fixed.
I can create new project with the menubar or change the type of the current project.

![0](https://user-images.githubusercontent.com/58212422/85630126-6f1eb880-b673-11ea-9c8a-cc6a41d8453b.png)
![1](https://user-images.githubusercontent.com/58212422/8563

[2020-06-25 07:12] clicat commented on #81
Perfect

[2020-06-25 07:14] #81 closed, assigned to nobody

[2020-07-26 20:45] Eb2010 opened #82 "try other MET files formats beside meteorological RINEX met files"
the stations that I processed are not IGS stations, and I have csv files for the meteorological parameters, is there anyway I could input these files rather than  meteorological RINEX fiels

[2020-07-27 07:26] clicat commented on #82
Is it possible, but it requires to read your format, do you have an example? Is it standard? Do you have the coordinates of your meteo station?

You can convert your data in Meteorological RINEX format, or we can try to build a reader for your data.

[2020-07-27 11:27] Eb2010 commented on #82
[en_climate_hourly_NU_2401203_01-2019_P1H.zip](https://github.com/goGPS-Project/goGPS_MATLAB/files/4981716/en_climate_hourly_NU_2401203_01-2019_P1H.zip)

this is one of my files, I want to ask, is it possible to convert my file to Meteorological RINEX format?? how can I make that?

[2020-07-27 16:21] clicat commented on #82
I create a simple importer (not very optimized) of your CSV, you can find it in Meto_Data.m (please update your code to the latest commit)
Running the following example you will be able to save a set of METEOROLOGICAL RINEX like the ones in the attachment

[Eureka_2019.zip](https://github.com/goGPS-Project/goGPS_MATLAB/files/4982791/Eureka_2019.zip)

Example usage:
[code]

I made a simplistic hypo

[2020-07-27 21:40] Eb2010 commented on #82
should I run it, separately in the command window of matlab?
when I run this commands in the command window before running goGPS
I get this error message

[ WW ] Warning: The settings field min_p_epoch is not valid => using default [ 60 ]
 [ ok ] File "C:\goGPS_MATLAB-goGPS_1.0_beta\data\project\default_PPP\Config\settings.ini" found, settings imported!
 Exporting met data to C:\goGPS_MATLAB-goGPS

[2020-07-27 21:50] clicat commented on #82
You can ignore the first warning (we added a new field)
While you just have to pass an existing valid folder to the command export (put a slash at the end of the path to be sure)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-07-27 22:30] Eb2010 commented on #82
Done, really thanks so much for your help

[2020-07-27 22:30] #82 closed, assigned to nobody

[2020-07-29 03:02] Eb2010 opened #83 "ERROR: Receiver 1: eurc has not been pre-processed, PPP is not possible."
Dear Dr.
please I have two error messages while processing RINEX files, and I don't know what was wrong I did?

ERROR: Receiver 1: eurc has not been pre-processed, PPP is not possible
ERROR: The requested atmospheric parameter have not been computed or stored

any help please?

[2020-07-31 16:14] clicat commented on #83
That file is particularly bad, the code solution was failing. Try with the latest update. It should work now

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-07-31 16:36] Eb2010 commented on #83
thanks, I will try now and let you know

[2020-09-01 12:32] clicat commented on #79
Done by @giulio-t to be tested better but it is there!

[2020-09-01 12:32] #79 closed, assigned to nobody

[2020-09-04 06:49] clicat commented on #83
No more news, I declare the issue closed...

[2020-09-04 07:17] clicat commented on #73
Fixed a long time ago...

[2020-09-04 07:17] #73 closed, assigned to tagliagiulio

[2020-09-04 12:27] Eb2010 commented on #83
Hi,
Unfortunately, the program doesn't work with me till now, although I processed different stations
so, thanks for informing me

GABR, Ebtesam
M.Sc Student / Teaching Assistant
Radiophysics laboratory
Physics Department, Faculty of Science
University of New Brunswick
Fredericton, NB. E3B 3V6
T: (506) 4407280
E: efarid@unb.ca

________________________________
From: Andrea Gatti <notifications@git

[2020-09-04 13:17] clicat commented on #83
Ok I reopen the bug and I'll test it again, I remember that I was able to get a solution. Did you update the code? Do you receive the same error?

[2020-09-04 13:46] Eb2010 commented on #83
yes, I update the code
I'll update it again

do you have any idea, what's the problem, why I have such an error? or what should I do to fix this problem

[2020-09-04 15:03] clicat commented on #83
I just tried to reprocess EURC0010.18o it's not the best dataset ever but it works. Please attach the full transcript of your error. If you can attach your config file so I can try to replicate your error on my computer!

[2020-09-07 02:47] Eb2010 commented on #83
I can't attach the config file, so I take it a copy and paste here

#----------------------------------------------------------------------------------
[SOFTWARE]
#----------------------------------------------------------------------------------
# goGPS config file
version = "1.0b7"

#----------------------------------------------------------------------------------
[PARALLELISM]
#---------------

[2020-09-07 05:03] #83 closed, assigned to nobody

[2020-09-07 14:34] pyuan111 opened #84 "Wiki for sub-tabs of Tab-Processing is missing?"
Dear goGPS developers,

I am trying to use goGPS for my study on water vapor.
However, it seems that the wiki of the sub-tabs of the Tab Processing is missing.

Clicking the links shows that they are not found:
https://github.com/goGPS-Project/goGPS_MATLAB/ProcessingTab/#tab-data-selection
https://github.com/goGPS-Project/goGPS_MATLAB/ProcessingTab/#tab-atmosphere
https://github.com/goGPS-Project/

[2020-09-07 16:11] clicat commented on #84
Hi Peng,
     the wiki is a mirror of the documentation present on the website.
I always suggest to use the website to read documentation, there the links are working:
[https://gogps-project.github.io/wiki/ProcessingTab/#tab-data-selection](https://gogps-project.github.io/wiki/ProcessingTab/#tab-data-selection)

A few newer settings might be missing, we will update the wiki when other planned modi

[2020-09-07 16:20] #84 closed, assigned to nobody

[2020-09-07 17:04] pyuan111 commented on #84
Dear Gatti,
Thanks a lot for your reply.
Best regards,
Peng

[2020-09-08 11:46] JasmienHassanien opened #85 "is there any function to get velocity and time as an output"
hi, i need a help,
I'm using goGPS V0.4.3
is there any way to check the accuracy of my receiver in terms of  velocity and time , the output is considering the position only. i checked the (doppler_shift_approx.m) function for velocity, and (transmission_time.m) for time

also i wonder from where can i adjust the number of epoch to be processed in that version.
thank you.

[2020-09-08 12:50] ege010 commented on #85
Hi Jasmien, unfortunately that version is quite old and no longer supported.

[2020-09-08 13:03] JasmienHassanien commented on #85
actually I am new to goGPS and hoping to get some help. I couldn't find any publication or user guide for the new version that's why i started with older one, any recommendation or suggestion to get some guide?
thank you.

[2020-09-08 13:07] ege010 commented on #85
Sure, you can have a look at the documentation here: https://gogps-project.github.io/
Closing this issue now. If you have other specific questions on the new version, please feel free to open a dedicated issue for each one.
Thanks!

[2020-09-08 13:07] #85 closed, assigned to nobody

[2020-09-18 09:23] pyuan111 opened #86 "Questions on the GNSS data processing for multipath mitigation"
Dear goGPS developers,

I am trying to use goGPS to process the GNSS data with multipath effect mitigation.
Assuming that I have one year of daily GNSS observations at a station, for example, ZIMM.
I plan to calculate the multipath map by using congruent grid and Zeenike based interpolation.
I set the window width as 21 days.
I processed the DOY(1–21) data to generate the Maltipath Map (MM(1–21))

[2020-09-18 09:34] clicat commented on #86
Dear Peng, can you directly write me an e-mail? we can discuss a bit on this and maybe cooperate. I've have written a paper on Zernike MP maps, but I still need to finish it due to missing time on doing tests, maybe we can help each other.
andrea.gatti at g-red.eu

[2020-09-30 12:53] clicat opened #87 "Delete VMF files if corrupted"
Delete VMF files if corrupted, so they can be re-downloaded correctly

[2020-09-30 12:56] clicat opened #88 "Compress in MATLAB format the VMF files"
It could be a good idea to download, read the VMF files in MATLAB, and store them in compressed MATLAB format. This will allow a faster read and will save allocation space.

[2020-10-03 17:27] LakshmiCBR commented on #38
goGPS GUI initialization completed in 30.70 seconds
Error using exist
The first input to exist must be a string scalar or character vector.

Error in goGUIclass/updateLEDstate (line 2168)
                                        if exist([data_path file_name],'file')

Error in goGUIclass/checkUIdependencies (line 1914)
            obj.updateLEDstate();

Error in goGUIclass/updateGUI (line 1369)

[2020-10-03 17:30] LakshmiCBR opened #89 "unable to run goGPS_v0.4.3 in matlab2018b"
goGPS GUI initialization completed in 30.70 seconds
Error using exist
The first input to exist must be a string scalar or character vector.

Error in goGUIclass/updateLEDstate (line 2168)
if exist([data_path file_name],'file')

Error in goGUIclass/checkUIdependencies (line 1914)
obj.updateLEDstate();

Error in goGUIclass/updateGUI (line 1369)
obj.checkUIdependencies();

Error in goGUIclass/browseI

[2020-10-03 20:38] clicat commented on #89
Dear @LakshmiCBR clearBranch have been created to clear variables and singleton classes of the new goGPS. The very old 0.4.3 version (legacy) is basically a different software with respect to goGPS 1.0. I can support only the latest 1.0 beta version. If you don’t need Kalmann Filter or dynamic processing I suggest you to use the latest version of goGPS.
Sorry,
    Andrea Gatti

<sub>Sent with <a h

[2020-10-06 17:22] LakshmiCBR commented on #89
Dear Andrea Gatti,

Thank you very much for your kind reply.
As you suggested I installed latest version V1.08b and trying for a new
project for PPP. I am getting a warning continuously
WARNING: CRD file seems empty or corrupted
 May I know what does it mean and how to rectify the error,please.

On Sat, Oct 3, 2020 at 11:38 PM Andrea Gatti <notifications@github.com>
wrote:

--
Thanking you,

Since

[2020-10-13 08:08] lbenvenuto91 opened #90 "network adjstment fail"
Hi,

I'm trying to compute a network adjustment but I got an error that I can't understand. The error is:

ERROR:            Command_Interpreter - Network solution failed:Index exceeds the            number of array elements (0).
--
   file: "C:\Users\gterg\Documents\GitHub\goGPS_MATLAB\goGPS\obj\LS_Manipulator_new.m"   line: 1295   fun: LS_Manipulator_new.removeFullRankDeficency    file: "C:\User

[2020-10-17 04:17] gpc-2020 opened #91 "troubling with understanding this program.."
My name is Heeng from South Korea.I am university student in Korea
I found your gogps project and tested it for studying purposes. However the program said there is or are error/errors with what I wanted to test (attachment).

I have collected RINEX observation data and navigation data from mobile.
When I inserted observation data with GPS, Galileo, Beidu, GLONASS etcthe program stopped as mention

[2020-10-19 15:34] clicat commented on #91
Sorry Heeng I’m on holidays so I’ll be short. There is a tab called resources, there you need to select the provider of the orbits that you want to use. IGS default final orbits only support GPS and GLONASS. If you want all the constellations you can choose orbits from something like CODE MGEX

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-10-26 02:28] gpc-2020 commented on #91
Hello Andrea

I hope you are having amazing holidays.

I did what you suggested then new program popped out
However, when i clicked every buttons on every Plots (1 to export)
about 90% of them did not work with comment of command not found or
something similar to it
i would like to get coordinates such as ecef coordinate xyz etc
what have i missed to get them?

thank you

Heeung

2020년 10월 20일 (화)

[2020-10-26 06:49] clicat commented on #91
The software can create plots depending on the kind of processing you started, and on the results that you kept or exported. Some of the plots works only if you have processed multi-session. Unless in the last week the program was broken, I believe that 99% of the “non working plots” are not working because of your processing strategy. Note that goGPS at the moment estimates one position per sessi

[2020-10-26 06:52] clicat commented on #90
Hi, thanks for the report of the bug, I’m not directly working on this part of the processing, but I know that it is under revision. I hope that the bug will automatically disappears with future updates.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-10-29 17:16] maurob89 opened #92 "Clock and iono file download problem"
Good evening, I am Mauro Burgassi, university student and I have tried your software to make the p.p.p. of a single frequency receiver.
During the processing the software produces some errors and can't download the clock and iono files.
The software is updated to the latest version. The anomalous thing is that on a different pc it works without any problem.
I enclose "config.ini" and "log" files.

[2020-10-30 04:20] gpc-2020 commented on #91
Dear Andrea

I hope you are well with the crisis that is happening around the world.

I re-read github website then tried more tests however that still did not
work.
thus i made explanation with screenshots of the problems im facing.
i hope that is better for you to see the causes.
i have attached 2 trials i did: one with just one data and another one with
four datas.

it would be wonderful if you

[2020-10-30 08:13] clicat commented on #92
Ciao Mauro,
from what I see from the log it seems that your computer (or MATLAB and aria2c) cannot connect to the FTP. It looks more like an internet access permission issue. Do you have a firewall or are you in a university that could block these addresses?
Try to manually access FTP, can you?
I say so because from the log the software cannot access any remote location, and this is very strange u

[2020-10-30 10:08] clicat commented on #91
Hi,
I requested you access to the google drive files, it seems that they cannot be downloaded without authorization

[2020-10-30 10:13] clicat commented on #91
Hi, I checked your files, Test 1 was full of mistakes and wrong configurations, I sent you a reviewed document.
Anyhow as previously stated processing cellphone RINEX requires a higher degree of comprehension of the adjustment and a lot of effort in calibrating parameters. Sorry, but I have no time to help you process the data. If you find any bug, with higher quality data you are free to post it

[2020-10-30 10:13] #91 closed, assigned to nobody

[2020-10-30 10:14] clicat commented on #89
Did you saved the CRD file? Have you tried to open it, does it contains coordinates?

[2020-10-30 11:12] gpc-2020 commented on #91
Thank you for your time and wonderful helps.

And Test2.zip had same mistakes and wrong configurations, am i correct?
(The one with 4 datas)

Heeung

2020년 10월 30일 (금) 오후 7:13, Andrea Gatti <notifications@github.com>님이 작성:

[2020-11-03 09:50] gpc-2020 opened #93 "question after pressing go! button"
hi.

what does it mean "receiver object not found" when I chose 4 different objective files (=4 receivers?)

thank you

[2020-11-03 10:47] clicat commented on #93
Sorry I cannot understand your question, please Open a new issue being more specific, try to attach screenshoots and logs and a better description of your problem.

[2020-11-03 10:47] #93 closed, assigned to nobody

[2020-11-03 10:47] clicat commented on #92
@maurob89 did you solve your problem?

[2020-11-03 10:48] #86 closed, assigned to nobody

[2020-11-04 16:36] maurob89 commented on #92
Good evening, unfortunately I was unable to solve the problem. I tried to temporarily disable the antivirus protection but without success, while direct access via the web to the site is without problems. I also tried to install the software on another pc but still the same problem. Could it be that the antivirus common to both PCs does not allow authorization anyway? I work on Windows 10 and with

[2020-11-19 20:44] kazimz commented on #62
Hi Andrea,
I am facing exactly the same issue. Kindly have a look. Thanks
ATX file attached.
[I14.zip](https://github.com/goGPS-Project/goGPS_MATLAB/files/5569567/I14.zip)
Best Regards
Ali

[2020-11-19 21:11] kazimz commented on #92
Hi
I guess this is the reason (see attached image) that we are unable to download Clock and iono files?
![image](https://user-images.githubusercontent.com/74739646/99724269-aa52d580-2ab3-11eb-8850-b14eb5f19bbe.png)

[2020-11-20 01:52] xs-man2 opened #94 "Failed to read metfile 3.0 version"

[2020-11-23 01:27] #94 closed, assigned to nobody

[2020-11-24 09:41] fetoffah-beep opened #95 "Show map function"
I recently downloaded the goGPS software and the show map function does not work for me, any idea?

[2020-12-09 15:19] clicat commented on #90
Hello @lbenvenuto91, I just looked out of curiosity to your config file, it seems you were trying to process a full network of 18 stations @30 seconds for 30 hours. The open version of goGPS cannot process such an amount of stations unless you have a machine with a looooooot of RAM and CPU power. Maybe this was the cause of the error.
Sorry I'm closing the bug as it is impossible for us to solve t

[2020-12-09 15:19] #90 closed, assigned to nobody

[2020-12-09 15:21] clicat commented on #92
Sorry I cannot reproduce the problem, you can always put manually the resources you need in the proper folders, and goGPS will work with what it has.

[2020-12-09 15:21] #92 closed, assigned to nobody

[2020-12-09 15:23] clicat commented on #89
One month old problem with no answer, I cannot reproduce the bug, thus I'm closing the issue. Please reopen it if you can provide additional informations.

[2020-12-20 15:55] Eb2010 opened #96 "error running goGPS"
Dear developers,

I have this error message while I run (goGPS.m)

{
Error using mkdir
The system cannot find the path specified.

Error in Core/initLocalPath (line 803)
                mkdir(this.local_storage)

Error in Core/init (line 751)
            this.initLocalPath();

Error in Core.getInstance (line 199)
                                this.init(force_clean);

Error in goGPS (line 114)

[2020-12-20 21:41] clicat commented on #96
Hi, the error is a bit odd, that code always worked, in that function, the system tries to create a local storage folder to store some orbital parameters.
Depending on the operative system should be in different position:
[code]
The home is get from environmental variable `HOME` on Unix, and `[getenv('HOMEDRIVE') getenv('HOMEPATH')]` on Windows.
Try to check your permission to that folder, or try

[2020-12-20 22:09] Eb2010 commented on #96
pull the latest one.
it works now well.
Thanks

[2020-12-20 22:41] Eb2010 commented on #96
I am so sorry, but I removed the folder and re-clone it again to remove any change that could happen to the (data) folder.
why it gives me an error
{
"C:Error: Creating "H:\\AppData\Local\goGPS" seems impossible, check your permissions!
}

why it tries to access H:/
I don't have an H partition, also I set up the software on C:/, not any other partitions.

[2020-12-21 14:16] clicat commented on #96
I don't have any computer running Windows to test it, but it seems that your copy of Windows have some environmental variables that are misconfigured, or that cannot be read by MATLAB. What happen if you type in the command window of MATLAB the following command:
[code]
???

If you want a fix just for your computer, you can modify the code of goGPS:
in Core.m line 792, set the `home` variable to p

[2020-12-22 12:23] #96 closed, assigned to nobody

[2020-12-24 02:07] kedoneyes opened #97 "Why don't GUI programs use. mlapp?"
Is there a plan to separate the GUI program from the handler? Now the error correction code cannot be used alone.

[2021-01-25 10:27] clicat commented on #95
Sorry I totally lost the notification of this issue, I have to rewrite that function in a better way, I'll have a look at it. Thanks for the bug report

[2021-01-25 11:54] clicat commented on #97
Sorry, I did not see the notification of this issue, I'm reading it now. What do you mean by "error correction code"?
I'm using goGPS daily both with GUI enabled and disabled, but I have some additional internal code that maybe have some bugs fixed with respect to the open release. If you can be more specific I can try to solve the problem.

The GUI is basically an Editor of the settings (goEditSe

[2021-01-25 11:54] #89 closed, assigned to nobody

[2021-01-25 14:51] fetoffah-beep commented on #95
Thanks

[2021-02-19 09:58] clicat commented on #97
The new release RC1 has been pushed as the main branch. To reach stability earlier, we decided to drop some features, and command-line execution is one of them. The goal is to have software for student and researchers testing their projects in post-processing. I'm closing this issue since too much time is passed since the latest message.

[2021-02-19 09:58] #97 closed, assigned to nobody

[2021-02-19 17:06] lbenvenuto91 opened #98 "problem in launching goGPS from crontab"
Hi,

I'm using goGPS to calculate ZTD from a small GNSS receivers network. I wrote a python script as I want to calculate ZTD every day automatically. This python script, and goGPS are in an Ubuntu server 18.04. As I manually excecute my script everything is fine and goGPS can finish the elaboration. The problems come when I run the script (and so also goGPS from crontab). I can't actually underst

[2021-02-21 09:40] ege010 commented on #98
Replied by email.

[2021-02-21 09:40] #98 closed, assigned to nobody

[2021-04-02 16:12] rmarzocchi84 commented on #98
If useful the problem is clear.  Running the software from crontab "aria2c" command line application doesn't work properly.

[code]

I hope it can be useful for your developement!

[2021-04-18 13:38] Andybty opened #99 "error running goGPS"
Dear developers,

I have this error message while I run default PPP project

{

 ERROR: Command  core.exec() failed to execute;
 file: "E:\goGPS_MATLAB-1.0RC1\source\obj\Command_Interpreter.m"  
 line: 1345   
 fun: Command_Interpreter.exec   
 file: "E:\goGPS_MATLAB-1.0RC1\source\obj\Core.m"  
 line: 1171   
 fun: Core.exec   
 file: "E:\goGPS_MATLAB-1.0RC1\source\obj\Core.m"   
 line: 1153   
 f

[2021-04-26 07:22] clicat commented on #99
Dear Andy sorry for my late answer, it's a very busy time for me.
Unfortunately, I cannot reproduce your error on R2018a or following (and I don't have R2016b installed). I need some more information.
The lines of error that you pasted here are usually preceded by the type of error.
If you can attach the entire log it can help me more understanding the problem.

Is your installation updated to the

[2021-05-12 21:16] acampbel opened #100 "Consider a cloud CI service"
Given public open source projects have free support for cloud ci services, consider leveraging one of them here. 🎉

https://blogs.mathworks.com/developer/2020/12/15/cloud-ci-services/

[2021-05-25 08:28] needhelp-proj opened #101 "Error when using PPP"
I encounter the following problem, when trying to use the PPP method.

MESSAGE: Dot indexing is not supported for variables of this type.
---------------------------------------------------------------------
file: "C:\Users\Josianne\goGPS_MATLAB\source\obj\utils\GPS_Time.m"
line: 1977
fun: GPS_Time.minus

file: "C:\Users\Josianne\goGPS_MATLAB\source\obj\Receiver_Work_Space.m"
line: 1572
fun: Recei

[2021-06-30 13:38] tagliagiulio commented on #101
Hi needhelp-proj
The error you got, was probably caused by paths with spaces under Windows system.
It should have been solved in the last commit called "dealing with spaces on Windows".
Best regards

[2021-07-27 11:47] zjjhwylcd opened #102 "About kalman filtering"
Dear all,

Is the kalman filtering removed in the code of the latest version?
I cannot find any source code related to kalman filtering.

Thanks.

Best wishes,
Edward

[2021-10-01 12:28] hrushikb opened #103 "Dir's are missing"
When I am trying to run the gogps, I am getting errors saying some directories are missing. Can anyone help me with my issue please?

[2021-10-27 08:33] gnssR opened #104 "Error: Command "SHOW" failed with error message: Unrecognized function or variable 'trg'."
I am trying to run goGPS on the MATLAB R2021a. I followed the instructions and execution is successfully finished once I clicked on go. However, when I am trying to plot the results, MATLAB is showing the above error with the message "goGPS encountered a problem, please open an issue on GitHub posting  the following lines" and "MESSAGE: Index exceeds the number of array elements (0)."

[2021-10-27 13:06] tagliagiulio commented on #104
Hi gnssR, were you running one of the default project?

[2021-10-27 15:59] clicat commented on #104
Hi @gnssR was it a PPP project, a NET project? What kind of "SHOW" were you trying to use?
Next time post the entire log it can be more helpful.
thanks,
Andrea

[2021-10-28 06:47] gnssR commented on #104
Hi, @clicat . I am sorry this was my first experience with goGPS. @tagliagiulio I used default project data and settings. Here I attached the log file along GUI screenshots for better explanation of issue.
[goGPS_run_Default_PPP_project_20211028_112856.log](https://github.com/goGPS-Project/goGPS_MATLAB/files/7431794/goGPS_run_Default_PPP_project_20211028_112856.log)
![goGPS_1](https://user-images.

[2021-10-29 06:19] clicat commented on #104
Thank you very much @gnssR, since I started working mainly on our internal processing software I don't have a lot of time for goGPS, I'll try to have a look at it in the weekend!

[2022-02-23 13:23] fatenReda commented on #85
hi sir ,
it is my first time to deal with goGps program.
is this program processing real time kinematic data?
what is the latest version of this program?

[2022-03-14 14:23] Lars0001 opened #105 "Not applying ARP height correction in parallel target initialization mode"
Hello! I'm processing several days and stations GPS data with goGPS.
The software seems to apply the ARP (Antena Reference Point that comes in the RINEX file) correction correctly when executed without parallel initialization. Same if parallel **session** initialization is done (PAR S* FOR T*).
However, when parallel **receiver** or target initialization is used (FOR S* PAR T*), the ARP correction

[2022-03-14 14:40] clicat commented on #105
Thank you very much for this very important bug report - I'll work on it as soon as I can.
I have a ton of updates / bug fixes to push on the repo, but I still need to finish the merge of the corrections coming from our internal software.

[2022-04-22 03:05] islamkandil555 commented on #102
i have the same question
i cant find any filter

[2022-04-25 15:57] Lars0001 opened #106 "Issues with Mapping Functions."
Hello!

I am processing GNSS data with goGPS for PWV estimation purposes and I'm having some issues and doubts concerning the Mapping Functions.

My first problem is that **each Mapping Function seems to introduce a mm-cm magnitude bias** in the altimetric component.
Here one example for ZIM3, only GPS constelation, month of november of 2021. The 0 line correponds to the IGS weekly solution for th

[2022-04-27 13:11] clicat commented on #106
Dear @Lars0001 thank you for your exhaustive report. I run the same test you did with our internal software BREVA (based on goGPS) and the results are quite different. I'm sorry to report that in the current version of goGPS on GitHub there are quite a few bugs but I have tons of modification to push and it might take me a little while to do it.

The two main bugs are related with ZHD extraction f

[2022-04-27 16:34] Lars0001 commented on #106
Hi @clicat .

Thank you very much for taking the time to give such a detailed answer. This really helps me.

So, as far as I have understood, the **ZHD extraction from VMF is not working in the current version of goGPS** and therefore is very probably introducing a bias/distortion in both altimetry and ZTD/ZWD estimation. I thus conclude that **using Saastamoinen-GPT is more cautious by now**. In

[2022-04-28 02:47] islamkandil555 opened #107 "can't find the codes of postprocessing filters"
i can't find the codes used for filtering in postprocessing stage like kalamn filter and extended kalman filter...etc
where can i found it?

[2022-04-28 06:14] clicat commented on #106
Ooooh you are totally right about the plots, in BREVA I have the option to use the barycentric position of all the coordinates as center of the local coordinates, but usually I don't use the option (rarely I plot multiple coordinates of the same station). I'm going to enable this option to appreciate the biases.

You are totally right about your **conclusions**: ZHD extraction from VMF is not work

[2022-04-28 06:18] clicat commented on #107
This version of goGPS was developed with a multi-epoch batch LS approach for static, or semi static stations. The code that you search is in the legacy (old) version of goGPS, but it hasn't been updated in years.

[2022-04-28 10:35] Lars0001 commented on #106
Thank you again @clicat.

Following your observations about the problems with the ZHD extraction, I reprocessed with the same Mapping Functions (Niell, VMF1 and VMF3 1ºx1º) but using Saastamoinen-GPT a-priori model for all of them.

Thanks to the consistency of ZHD model, most of discrepancies in ZWD fluctuations seem to disappear (good!):
![Resultados_ZHD_GPS_ZIM3](https://user-images.githubuserc

[2022-04-30 02:21] islamkandil555 commented on #107
thanks for you replay
where i can find the strategy of filters in postprocessing stage for the updated software ?

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Andrea Gatti ***@***.***>
Sent: Thursday, April 28, 2022 8:18:21 AM
To: goGPS-Project/goGPS_MATLAB ***@***.***>
Cc: islamkandil555 ***@***.***>; Author ***@***.***>
Subject: Re: [goGPS-Project/goGPS

[2022-05-18 15:09] islamkandil555 opened #108 "multipath error"
can i get the code of multipath please ?

[2022-05-30 09:44] Rangsan-khamkhaon opened #109 "Could not connect to: ftp.aiub.unibe.ch"
I try to run goGPS_MATLAB-1.0RC1 MATLAB 2018a then the program can not connect to: ftp.aiub.unibe.ch (any supported constellation)
So How can I sovle it ? and I have alitle bit experiouse about coding

![5-30-2022 4-39-27 PM](https://user-images.githubusercontent.com/77143374/170965422-ead34f83-0b29-43e9-a3b0-56cad5384c30.png)

[2022-08-01 20:41] Waley04 commented on #108
Hi,

Yes, it is possible to compute code multipath with goGPS.

May I know the station you were trying to test.

Thanks with regards,

Waley.

[2022-08-04 13:43] utente1234 opened #110 "ERROR: Command core.exec() failed to execute Index in position 1 exceeds array bounds."
I get this error message from gogps:
Opening file            CGIM2570.21N for reading
ERROR: Command            core.exec() failed to executeIndex in position 1 exceeds array bounds

I need help to understand which parameter the error depends on and how I can fix it.

I attach full log file

thank you
![log](https://user-images.githubusercontent.com/110613084/182861916-2a7138c7-10bc-426b-87ac-9853

[2022-10-31 05:51] meenavas opened #111 "exportSlantDelay"
exportSlantDelay(30,1,'extended',0,0) gives an empty file when Session start is more than 30 minutes away from 00.00.00.